/*** text ***/
/**** components ****/
@-webkit-keyframes scaleIn {
  /* line 33, ../scss/_mixins.scss */
  from {
    -webkit-transform: scale(0); }

  /* line 34, ../scss/_mixins.scss */
  to {
    -webkit-transform: scale(1); } }
@-moz-keyframes scaleIn {
  /* line 33, ../scss/_mixins.scss */
  from {
    -moz-transform: scale(0); }

  /* line 34, ../scss/_mixins.scss */
  to {
    -moz-transform: scale(1); } }
@keyframes scaleIn {
  /* line 33, ../scss/_mixins.scss */
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }

  /* line 34, ../scss/_mixins.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes scaleOut {
  /* line 38, ../scss/_mixins.scss */
  from {
    -webkit-transform: scale(1); }

  /* line 39, ../scss/_mixins.scss */
  to {
    -webkit-transform: scale(0); } }
@-moz-keyframes scaleOut {
  /* line 38, ../scss/_mixins.scss */
  from {
    -moz-transform: scale(1); }

  /* line 39, ../scss/_mixins.scss */
  to {
    -moz-transform: scale(0); } }
@keyframes scaleOut {
  /* line 38, ../scss/_mixins.scss */
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  /* line 39, ../scss/_mixins.scss */
  to {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@-webkit-keyframes showSidenavLeft {
  /* line 43, ../scss/_mixins.scss */
  to {
    -webkit-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(0); } }
@-moz-keyframes showSidenavLeft {
  /* line 43, ../scss/_mixins.scss */
  to {
    -moz-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -moz-transform: translateX(0); } }
@keyframes showSidenavLeft {
  /* line 43, ../scss/_mixins.scss */
  to {
    -webkit-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22), 0 19px 19px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes hideSidenavLeft {
  /* line 49, ../scss/_mixins.scss */
  to {
    -webkit-transform: translateX(calc(-1 * ( 100% ) ));
    -moz-transform: translateX(calc(-1 * ( 100% ) ));
    -ms-transform: translateX(calc(-1 * ( 100% ) ));
    -o-transform: translateX(calc(-1 * ( 100% ) ));
    transform: translateX(calc(-1 * ( 100% ) )); } }
@-moz-keyframes hideSidenavLeft {
  /* line 49, ../scss/_mixins.scss */
  to {
    -webkit-transform: translateX(calc(-1 * ( 100% ) ));
    -moz-transform: translateX(calc(-1 * ( 100% ) ));
    -ms-transform: translateX(calc(-1 * ( 100% ) ));
    -o-transform: translateX(calc(-1 * ( 100% ) ));
    transform: translateX(calc(-1 * ( 100% ) )); } }
@keyframes hideSidenavLeft {
  /* line 49, ../scss/_mixins.scss */
  to {
    -webkit-transform: translateX(calc(-1 * ( 100% ) ));
    -moz-transform: translateX(calc(-1 * ( 100% ) ));
    -ms-transform: translateX(calc(-1 * ( 100% ) ));
    -o-transform: translateX(calc(-1 * ( 100% ) ));
    transform: translateX(calc(-1 * ( 100% ) )); } }
/* line 10, ../scss/_placeholders.scss */
.toolbar--default, .toolbar--extend, .icon,
icon, .list--single-line a {
  display: block; }

/* line 12, ../scss/_placeholders.scss */
.sidenav--left figure figcaption a {
  color: white; }

/* line 14, ../scss/_placeholders.scss */
.list--single-line a {
  color: #03a9f4; }

/* line 16, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  width: 100%; }

/* line 18, ../scss/_placeholders.scss */
.toolbar--default, .toolbar--extend, .toolbar--default h1, .toolbar--extend h1, .icon,
icon, .sidenav--left figure {
  position: relative; }

/* line 19, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  position: absolute; }

/* line 20, ../scss/_placeholders.scss */
.sidenav--left {
  position: fixed; }

/* line 22, ../scss/_placeholders.scss */
.sidenav--left {
  top: 0; }

/* line 23, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  bottom: 0; }

/* line 24, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  left: 0; }

/* line 26, ../scss/_placeholders.scss */
.toolbar--default h1, .sidenav--left figure figcaption {
  text-overflow: ellipsis;
  white-space: nowrap; }

/* line 27, ../scss/_placeholders.scss */
.toolbar--default h1, .toolbar--extend h1, .list--single-line a {
  line-height: 1; }

/* line 28, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  line-height: 3; }

/* line 29, ../scss/_placeholders.scss */
.toolbar--default h1, .toolbar--extend h1 {
  color: white; }

/* line 30, ../scss/_placeholders.scss */
.toolbar--default, .toolbar--extend {
  background-color: #259b24; }

/* line 32, ../scss/_placeholders.scss */
.sidenav--left figure img {
  border-radius: 50% 50% 50% 50%; }

/* line 36, ../scss/_placeholders.scss */
.sidenav--left section {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

/* line 37, ../scss/_placeholders.scss */
.toolbar--default, .toolbar--extend, .list--single-line {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 1.5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 1.5px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 1.5px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 1.5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 1px 1.5px rgba(0, 0, 0, 0.12); }

/* line 46, ../scss/_placeholders.scss */
.sidenav--left figure figcaption {
  overflow-x: hidden; }

/*** animations ***/
/* line 50, ../scss/_placeholders.scss */
.sidenav--left figure img {
  -webkit-animation: scaleIn 0.75s ease forwards;
  -moz-animation: scaleIn 0.75s ease forwards;
  animation: scaleIn 0.75s ease forwards; }

/* line 53, ../scss/_placeholders.scss */
.show.sidenav--left {
  -webkit-animation: showSidenavLeft 0.75s ease forwards;
  -moz-animation: showSidenavLeft 0.75s ease forwards;
  animation: showSidenavLeft 0.75s ease forwards; }

/* line 1, ../scss/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../scss/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset,
ul,
ol {
  margin: 0; }

/* line 19, ../scss/_reset.scss */
fieldset,
ul,
ol {
  padding: 0; }

/* line 25, ../scss/_reset.scss */
ul,
ol {
  list-style: none; }

/* line 29, ../scss/_reset.scss */
a {
  text-decoration: none; }

/*** canvas *****/
/* line 33, ../scss/_reset.scss */
main {
  display: block; }

/***** forms ****/
/* line 37, ../scss/_reset.scss */
fieldset,
input {
  border: 0;
  box-shadow: none;
  border-radius: 0; }

/* line 2, ../scss/_base.scss */
html {
  height: 100%; }

/* line 5, ../scss/_base.scss */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87); }

/* line 1, ../scss/components/_appbar.scss */
.toolbar--default, .toolbar--extend {
  -webkit-transition: height 0.75s ease;
  -moz-transition: height 0.75s ease;
  transition: height 0.75s ease; }
  /* line 7, ../scss/components/_appbar.scss */
  .toolbar--default icon, .toolbar--extend icon,
  .toolbar--default .icon,
  .toolbar--extend .icon {
    position: absolute;
    top: 0.25em; }
    /* line 11, ../scss/components/_appbar.scss */
    .toolbar--default icon:nth-last-of-type(1), .toolbar--extend icon:nth-last-of-type(1),
    .toolbar--default .icon:nth-last-of-type(1),
    .toolbar--extend .icon:nth-last-of-type(1) {
      left: auto;
      right: 0.25em; }
    /* line 15, ../scss/components/_appbar.scss */
    .toolbar--default icon:nth-last-of-type(2), .toolbar--extend icon:nth-last-of-type(2),
    .toolbar--default .icon:nth-last-of-type(2),
    .toolbar--extend .icon:nth-last-of-type(2) {
      left: auto;
      right: 3.5em; }
    /* line 19, ../scss/components/_appbar.scss */
    .toolbar--default icon:nth-last-of-type(3), .toolbar--extend icon:nth-last-of-type(3),
    .toolbar--default .icon:nth-last-of-type(3),
    .toolbar--extend .icon:nth-last-of-type(3) {
      left: auto;
      right: 6.75em; }
    /* line 23, ../scss/components/_appbar.scss */
    .toolbar--default icon:nth-last-of-type(4), .toolbar--extend icon:nth-last-of-type(4),
    .toolbar--default .icon:nth-last-of-type(4),
    .toolbar--extend .icon:nth-last-of-type(4) {
      left: auto;
      right: 10em; }
    /* line 27, ../scss/components/_appbar.scss */
    .toolbar--default icon:nth-last-of-type(5), .toolbar--extend icon:nth-last-of-type(5),
    .toolbar--default .icon:nth-last-of-type(5),
    .toolbar--extend .icon:nth-last-of-type(5) {
      left: auto;
      right: 13.25em; }
    /* line 31, ../scss/components/_appbar.scss */
    .toolbar--default icon:first-of-type, .toolbar--extend icon:first-of-type,
    .toolbar--default .icon:first-of-type,
    .toolbar--extend .icon:first-of-type {
      left: 0.25em;
      right: auto; }

/* line 37, ../scss/components/_appbar.scss */
.toolbar--default h1, .toolbar--extend h1 {
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  transition: all 0.75s ease; }

/* line 44, ../scss/components/_appbar.scss */
.toolbar--default {
  height: 3.5em; }
  /* line 47, ../scss/components/_appbar.scss */
  .toolbar--default h1 {
    overflow: hidden;
    -webkit-transform: translateY(1.25em);
    -moz-transform: translateY(1.25em);
    -ms-transform: translateY(1.25em);
    -o-transform: translateY(1.25em);
    transform: translateY(1.25em);
    width: -webkit-calc(100% - 11.25em );
    width: calc(100% - 11.25em );
    font-size: 1em;
    margin-left: 4.5em; }

/* line 57, ../scss/components/_appbar.scss */
.toolbar--extend {
  height: 8em; }
  /* line 60, ../scss/components/_appbar.scss */
  .toolbar--extend h1 {
    -webkit-transform: translateY(4.1em);
    -moz-transform: translateY(4.1em);
    -ms-transform: translateY(4.1em);
    -o-transform: translateY(4.1em);
    transform: translateY(4.1em);
    font-size: 1.25em;
    margin-left: 3.6em; }

/* line 2, ../scss/components/_icon.scss */
.icon,
icon {
  width: 3em;
  height: 3em;
  padding: 0.75em; }
  /* line 8, ../scss/components/_icon.scss */
  .icon svg,
  icon svg {
    fill: white; }
    /* line 10, ../scss/components/_icon.scss */
    .icon svg [stroke],
    icon svg [stroke], .icon svg path,
    icon svg path, .icon svg polygon,
    icon svg polygon, .icon svg rect,
    icon svg rect {
      stroke: white;
      -webkit-animation: enterIcon 0.75s ease;
      -moz-animation: enterIcon 0.75s ease;
      animation: enterIcon 0.75s ease; }
  /* line 16, ../scss/components/_icon.scss */
  .enterNewIcon.icon,
  icon.enterNewIcon {
    -webkit-animation: enterNewIcon 0.75s ease;
    -moz-animation: enterNewIcon 0.75s ease;
    animation: enterNewIcon 0.75s ease; }

/* line 5, ../scss/components/_sidenav.scss */
.sidenav--left {
  width: -webkit-calc( 100% - 56px );
  width: calc( 100% - 56px );
  height: 100%;
  -webkit-transform: translateX(calc(-1 * ( 100% ) ));
  -moz-transform: translateX(calc(-1 * ( 100% ) ));
  -ms-transform: translateX(calc(-1 * ( 100% ) ));
  -o-transform: translateX(calc(-1 * ( 100% ) ));
  transform: translateX(calc(-1 * ( 100% ) )); }

/* line 16, ../scss/components/_sidenav.scss */
.sidenav--left figure {
  background-image: url("../sample/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1em; }

/* line 23, ../scss/components/_sidenav.scss */
.sidenav--left figure img {
  display: block;
  position: relative;
  top: 1em;
  width: 4em;
  height: 4em;
  padding: 0.25em;
  background-color: white; }

/* line 41, ../scss/components/_sidenav.scss */
.sidenav--left figure figcaption {
  padding: 0 1em;
  height: 3em; }

@media only screen and (max-width: 256px) {
  /* line 61, ../scss/components/_sidenav.scss */
  .sidenav--left figure img {
    pointer-events: none;
    -webkit-animation: scaleOut 0.75s ease forwards;
    -moz-animation: scaleOut 0.75s ease forwards;
    animation: scaleOut 0.75s ease forwards; } }
@media only screen and (min-width: 320px) {
  /* line 68, ../scss/components/_sidenav.scss */
  .sidenav--left {
    min-width: 264px;
    width: 20%; } }
/****** List *****/
/* line 3, ../scss/components/_list.scss */
.list--single-line {
  font-size: 16px;
  background-color: white;
  padding: 0.5em 0; }

/* line 12, ../scss/components/_list.scss */
.list--single-line a {
  height: 3em;
  padding: 1em; }

/*
@import "animations";
@import "ripple";
 
@import "overlay";

@import "sidenav";
@import "canvas";
@import "sub-title";
@import "form";
@import "card";
@import "snackbar";
@import "list";
@import "tooltip";
@import "action";
@import "card";
@import "responsive";
*/
