// block yep uploaded
@include keyframes( fadeIn ) {
	0% { opacity:0;  } 
	100% { opacity:1 ;}
}
@include keyframes( enterIcon ) {
	0% { 
		opacity:0;  
		//@include transform( scale(0)  );  
	} 
	100% { 
		opacity:1 ;
		//@include transform( scale(1) );  
	}
}
@include keyframes( fadeOut ) {
	0% { opacity:1;  } 
	100% { opacity:0; }
}
/*  search **/
@include keyframes( enterX ) {
	0% { width:0;  } 
	100% { width:100%; }
}/*  search **/
@include keyframes( leaveX ) {
	0% { width:100%;  } 
	100% { width:0; }
}
// new blocks (enter)
//label valid
@include keyframes( enterLabel ) {from {@include transform(translateY( -24px )); } to {@include transform(translateY( 0 ));}}
@include keyframes( leaveLabel ) {from {@include transform(translateY( 0 ));} to {@include transform(translateY( -24px ));}}
//label error
@include keyframes( enterLabelInvalid ) {from {@include transform(translateY( 8px ));} to {@include transform(translateY( -24px ));}}
@include keyframes( leaveLabelInvalid ) {from {@include transform(translateY( -24px ));} to {@include transform(translateY( 8px ));}} 

//move Elements
//@include keyframes( moveInput ) {from {@include transform(translateY( -14px ));} to {@include transform(translateY( 0 ));}}
