//appbar === primary toolbar
.appbar {
  position: relative;
  height: 56px;// 56dp portrait 48dp landscape 64px table/desktop
  background-color: $color-primary;
  @include zDepth($z_depth:1);
  @include transition ( height $time-animation $mode-animation );
  &.extend {
  	height: 128px;
  	.appbar__title {
  		font-size: 20px;   
			@include transform( translateY(82px) );
  	}
  }
}
.appbar__title {
	position: relative; 
	@include transform( translateY(20px) );
	display:block;
	font-size:16px;
	line-height:1;
	margin-left: 72px;
	color:$color-text-white; 
	@include transition ( all $time-animation $mode-animation );
}
.appbar__icon{
	display:block;
	position: absolute; 
	top:4px;
	left:4px;
	width:48px;
	height:48px;
	padding:12px;
	[stroke] { //for svg
		stroke: $color-text-white  ;
	}
}

