//appbar === primary toolbar
.appbar {
  position: relative;
  height: em(56);// 56dp portrait 48dp landscape 64px table/desktop
  background-color: $color-primary;
  @include zDepth($z_depth:1);
  @include transition ( height $time-animation $mode-animation );
  &.extend {
  	height: em(128);
  	.appbar__title {
  		font-size: em(20);   
			@include transform( translateY( em(82,20) ) );
			margin-left: em(72,20);
  	}
  }
}

.appbar__title {
	position: relative; 
	@include transform( translateY( em(20) ) );
	display:block;
	font-size:em(16);
	line-height:1;
	margin-left: em(72);
	color:$color-text-white; 
	@include transition ( all $time-animation $mode-animation );
}

.appbar__icon{ 
	@extend %icon;
	position: absolute; 
	top:em(4);  
	@include transition ( left , right $time-animation $mode-animation );
	.ripple--radial {
		background-color:rgba(255,255,255,0.75);
	} 

	&:nth-last-of-type(1){
		left:auto;
		right: em(4);
	}
	&:nth-last-of-type(2){
		left:auto;
		right: em(56);
	}
	&:nth-last-of-type(3){
		left:auto;
		right: em(108);
	}
	&:nth-last-of-type(4){
		left:auto;
		right: em(160);
	}
	&:nth-last-of-type(5){
		left:auto;
		right: em(212);
	}//+52
	&:first-of-type {
		left:em(4);
		right:auto;
	}
	&.searchActiveEnter{ 
		right:em(4);
	}
}

