//@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"); //300  normal
html {
	height:100%;
}
body { 
  font-size: $base-font;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.5;
  font-weight: 300;//normal
  color: $color-text;
}