@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,500"); //300  normal
html {
	height:100%;
}
body { 
  font-size: $base-font;
  font-family: 'Roboto', sans-serif; 
  line-height: 1.5;
  font-weight: 300;//normal
  color: $color-text;
  background: $bg-body;
}
a {
	@extend %color-secondary;
}
@media only screen and ( min-width: $media-md ){
	body { font-size: 18.5px}
} 