form{
	@include clearfix;
	padding:0 16px;
}

input,select {
	display:block;
	width:100%;
	padding: 0 0 em(8) 0;
  line-height: 1;
  background:transparent;
  font-size: 1em;
  height: em(24);
  border-bottom:1px solid $color-divider;
  border-top:0;
  border-left:0;
  border-right:0;
  @include transition ( border $time-animation ease );
  //@include zDepth($z_depth:1);
  &:focus {
    outline-color: transparent;  
    border-bottom-color:$color-primary ;
    border-bottom-width:em(2);
  }
  &.ng-dirty.ng-valid {
    border-bottom-color:$color-success;
    border-bottom-width:em(2);
  }
  &.ng-dirty.ng-invalid {
    border-bottom-color:$color-error;
    border-bottom-width:em(2);
  }
  //placeholder
  &::-webkit-input-placeholder {
  	color:$color-secondary-text;
  	opacity: 0;
		@include animation( fadeIn $time-animation ease forwards); 
  }
	&:-moz-placeholder {
		color:$color-secondary-text;
  	opacity: 0;
		@include animation( fadeIn $time-animation ease forwards); 
	}
} 
select,input[type="number"] {
	padding:0;
}
input[type="submit"]{
	display:block;
	background: $color-primary ;
	height: em(32);
	min-width: em(88);
	width: auto;
  line-height: 2; 
  text-transform: uppercase;
  color:$color-text-white ;
  @include zDepth($z_depth:1); 
  border-bottom: 0; 
}
label {
	color:$color-secondary-text;
	font-size:12px;
	position: relative;
	display:none;
	line-height:1.333;
	height:em(16,12); 
	&.valid{
		margin-bottom:em(8,12);
		&.show{  
			@include animation( fadeIn $time-animation ease forwards, enterLabel $time-animation ease forwards);  
			& ~ input {
				@include animation( enterLabel $time-animation ease); 
			}
		}
		&.hide{ 
			@include animation( fadeOut $time-animation ease forwards, leaveLabel $time-animation ease forwards);
			& ~ input {
				@include animation( leaveLabel $time-animation ease); 
			}
		}
	}
	&.invalid{ 
		color:$color-error; 
		&.show{ 
			@include animation( fadeIn $time-animation ease forwards, enterLabelInvalid $time-animation ease); 
			& ~ input {
				@include animation( enterLabelInvalid $time-animation ease ); 
			}
		}
		&.hide{ 
			@include animation( fadeOut $time-animation ease forwards, leaveLabelInvalid $time-animation ease);
			& ~ input {
				@include animation( leaveLabelInvalid $time-animation ease); 
			}
		}
	}
	
	&.showD{
		display: block;
	}
}

fieldset {
	height:48px; 
	overflow-y:hidden;
	padding:16px 0;  
	@include transition ( height $time-animation $mode-animation );
	&.focus {
		height: 72px;
	}
	&.submit {
		padding:0;
		margin-top: 16px;
  }
}

/*** search ***/
.form-search {
	display:none;
	position: absolute;
	padding: em(16);
	top:0;
	right: 0; 
	height:em($appbar-height);
	background:$color-primary;
	z-index:2; 
	width:100%;
	@include animation( fadeIn $time-animation $mode-animation forwards);
	input {    
		border-bottom:0 ;
		padding: 0 0 0 em(56); 
		@include box-sizing( border-box );
		color:$color-text-white;
		//@include transition ( width $time-animation $mode-animation );
		//placeholder
	  &::-webkit-input-placeholder {
	  	color:$color-text-white;
	  	opacity: 0;
			@include animation( fadeIn $time-animation ease forwards); 
	  }
		&:-moz-placeholder {
			color:$color-text-white;
	  	opacity: 0;
			@include animation( fadeIn $time-animation ease forwards); 
		}
	}
}

