.margin-top--0 {
	@extend %margin-top--0 ;
}
//Backgrounds 
.bg-primary {
	background-color: $color-primary;
}
.bg-secondary {
	background-color: $color-secondary;
}
.color-primary {
	color: $color-primary;
}
.color-secondary {
	color: $color-secondary;
}