@mixin text-wrapper(){ //apply text's parent
  text-overflow: ellipsis;
  white-space: nowrap; 
}
@mixin zDepth($z_depth:1){
  @if  $z_depth==0{
    @include box-shadow( none );
  }
  @if  $z_depth==1{
    @include box-shadow( 0 1px 1px 1px rgba(0,0,0,0.24) ,0 1px 1.5px 1.5px rgba(0,0,0,0.12) );
  }
  @if  $z_depth==2{
    @include box-shadow( 0 3px 3px rgba(0,0,0,0.23) ,0 3px 3px rgba(0,0,0,0.16) );
  }
  @if  $z_depth==3{
    @include box-shadow( 0 6px 3px rgba(0,0,0,0.23) ,0 10px 10px rgba(0,0,0,0.19) );
  }
  @if  $z_depth==4{
    @include box-shadow( 0 10px 5px rgba(0,0,0,0.22) ,0 14px 14px rgba(0,0,0,0.25) );
  }
  @if  $z_depth==5{
    @include box-shadow( 0 15px 6px rgba(0,0,0,0.22) ,0 19px 19px rgba(0,0,0,0.30) );
  }
}
@mixin fix_sidenav_position(){ 
  @each $prefix in webkit moz ms o {
    -#{$prefix}-transform: translateX( calc( -1 * ( 100% ) ) );
  }
  transform: translateX( calc( -1 * ( 100% ) ) );
}

@include keyframes( scaleIn ) {
  from { @include transform(scale( 0 )); } 
  to   { @include transform(scale( 1 )); }
}

@include keyframes( fadeIn ) {
  from { opacity:  0 ; } 
  to   { opacity:  1 ; }
}
@include keyframes( fadeOut ) {
  from { opacity:  1 ; } 
  to   { opacity:  0 ; }
}

@include keyframes( scaleOut ) {
  from { @include transform(scale( 1 )); } 
  to   { @include transform(scale( 0 )); }
}
//Sidenav
@include keyframes( showSidenavLeft ) { 
  to   { 
    @include zDepth($z_depth:5);
    @include transform( translateX(0) ); 
  }
}
@include keyframes( hideSidenavLeft ) {
  from   { 
    @include zDepth($z_depth:5);
    @include transform( translateX(0) ); 
  }  
  to   { 
    @include zDepth($z_depth:0);
    @include fix_sidenav_position;
  }
}
//Sidenav right
@include keyframes( showSidenavRight ) { 
  to   { 
    @include zDepth($z_depth:5);
    @include transform( translateX(0) ); 
  }
}
@include keyframes( hideSidenavRight ) {
  from   { 
    @include zDepth($z_depth:5);
    @include transform( translateX(0) ); 
  }  
  to   { 
    @include zDepth($z_depth:0);
    @include transform( translateX(460px) ); 
  }
}
/*** labels ***/
@include keyframes( labelIn ) {
  from {@include transform(translateY( -1 * em(24,12) )); } 
  to {@include transform(translateY( 0 ));}
}
@include keyframes( labelOut ) {
  from {@include transform(translateY( 0 ));} 
  to {@include transform(translateY( -1 * em(24,12) ));}
}
//label--error
@include keyframes( labelErrorIn ) {
  from {@include transform(translateY( em(24,12) )); } 
  to {@include transform(translateY( 0 ));}
}
@include keyframes( labelErrorOut ) {
  from {@include transform(translateY( -24px ));} 
  to {@include transform(translateY( 0px ));}
}
//input
@include keyframes( moveInputDown ) {
  from {@include transform(translateY( -1 * em(24px) )); } 
  to {@include transform(translateY( 0 ));}
}
@include keyframes( moveInputUp ) {
  from {@include transform(translateY( 0 ));} 
  to {@include transform(translateY( -1 * em(24px) ));} 
}
//snackbar
@include keyframes( enterSnackbar ) {
  from {opacity:0; @include transform(translateY( em(56) )); } 
  to   {opacity:1;@include transform(translateY( 0 ));}
}
@include keyframes( leaveSnackbar ) {
  0%  {opacity:1;@include transform(translateY( 0 ));} 
  100%{opacity:0;@include transform(translateY( em(56) ));}
}