.overlay {
	background:$bg-overlay ;
	position: fixed; 
	top:0;
	width:100%;
	height:100%;
	display:none; 
	&.show{ 
		@include animation( fadeIn $time-animation ease forwards); 
	}
	&.hide{ 
		@include animation( fadeOut $time-animation ease forwards);
	}
	&.showD{
		display: block;
	}
}
