//Clearfix
%clearfix {
	//*zoom: 1;  /* The star is here to prevent other browsers from reading and applying this rule. */
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}
%display-block     { display: block; }
//color
%color-white { color: $color-white  } 
%color-primary { color: $color-primary  } 
%color-secondary { color: $color-secondary  } 
//padding
%width-100percent { width:100%;  }
//Position type
%position-relative { position: relative; }
%position-absolute { position: absolute; }
%position-fixed 	 { position: fixed; } 
//Position location
%position-top-0	 { top: 0; } 
%position-bottom-0	 { bottom: 0; } 
%position-left-0	 { left: 0; } 
//text wrapper
%text-ellipsis     { @include text-wrapper;}
%line-height-1     { line-height:1; }
%line-height-3     { line-height:3; }
%text-color-white  { color:$color-text-white; }
%bg-primary        { background-color: $color-primary; }
%float-left        { float: left ;}
%border-radius-full-50percent { border-radius:50% 50% 50% 50% ; }


// z Depth
%zDepth-0 { @include zDepth($z_depth:0); }
%zDepth-1 { @include zDepth($z_depth:1); }
%zDepth-2 { @include zDepth($z_depth:2); }
%zDepth-3 { @include zDepth($z_depth:3); }
%zDepth-4 { @include zDepth($z_depth:4); }
%zDepth-5 { @include zDepth($z_depth:5); } 


//overflow
%overflow { overflow:hidden; }
%overflow-x { overflow-x:hidden; }
%overflow-y { overflow-y:hidden; }

/*** animations ***/
%animation-scaleIn { @include animation( scaleIn $time-animation $mode-animation forwards );}
%animation-scaleOut{ @include animation( scaleOut $time-animation $mode-animation forwards );}

%animation-showSidenavLeft{ @include animation( showSidenavLeft $time-animation $mode-animation forwards );}
%animation-hideSidenavLeft{ @include animation( hideSidenavLeft $time-animation $mode-animation forwards );}
