* {
  @include box-sizing(border-box);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset {
  margin: 0;
}
fieldset {
	padding: 0;
}
a{
	text-decoration:none;
}
/*** canvas *****/
main {
	display:block;
}
/***** forms ****/
fieldset, 
input {
	border:0;
	box-shadow: none; // firefox browser and OS */
	border-radius: 0; // firefox browser and OS */
}

