.snackbar {
  background-color: $bg-snackbar;
  padding: 18px 24px;
  color: white;
  height: 56px;
  line-height: 1;
  position: fixed;
  bottom:0;
  width: 100%;
  @include transform( translateY(56px) );
  @include transition ( transform $time-animation $mode-animation-enter-leave-canvas );
  p{
    font-weight: 300;
    font-size: 14px;
    line-height:1.42; 
  }
  &.show{ 
		@include transform( translateY(0) );
	}
	&.hide{ 
		@include transform( translateY(56px) );
	} 
}