.tooltip {
  display:none;
  min-height: 22px;
  position: absolute; 
  background:$bg-tooltip;
  color:$color-text-white ;
  padding: 8px;
  font-size: 10px;
  line-height: 1.5;
  width: auto;
  font-weight: 300;
  border-radius:2px;
  &.show{ 
		@include animation( fadeIn $time-animation ease forwards, enterLabel $time-animation ease forwards);
	}
	&.hide{ 
		@include animation( fadeOut $time-animation ease forwards, leaveLabel $time-animation ease forwards);
	} 
	&.showD {
		display: block;
	}
}