/*** text ***/
$base-font             : 16px; 
$color-primary         : #3f51b5 !default; //indigo
$color-primary         : #259b24 ; //CONSAMA
$color-secondary       : #ff4081 !default; //pink
$color-secondary       : #03a9f4; //CONSAMA
// grey text, icons, and dividers
$color-black           : #000;
$color-white           : #fff; 
$color-divider         : rgba($color-black,0.12);
$color-hint-text       : rgba($color-black,0.26);
$color-text            : rgba($color-black,0.87);
$color-text-white      : $color-white           ;
$color-secondary-text  : rgba($color-black,0.54);
$color-icon            : rgba($color-black,0.54);
$color-divider         : rgba($color-black,0.27);
$color-divider-low     : rgba($color-black,0.13);

$time-animation: 0.75s;
$mode-animation: ease-in-out ;//ease;

$start_animation : 0.6s cubic-bezier(.25,.01,.75,1) 0.15s ; 
$finish_animation: 0.6s cubic-bezier(0,.25,1,.75) ; 
//Entering and Exiting Frame
$enter_animation: 0.5625s cubic-bezier(0,0,.5,1) 0.1875s ; 
$leave_animation: 0.5625s cubic-bezier(0,.5,1,1) ; 
/**** components ****/
//card
$bg-card : $color-white;
//list
$bg-list : $color-white;
//datalist
$bg-datalist : $color-white;
//appbar
$appbar-height:56px;
//overlay
$bg-overlay:rgba(0,0,0,.25);
//snackbar
$bg-snackbar: #323232 ;
//tooltip
$bg-tooltip:rgba(0,0,0,.9);
//sidenav
$bg-sidenav:$color-white ;
//form 
$color-success: #72C69D;
$color-error: #f44336;
//media querys
$media-md:768px;