@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  background-color: $bg-body;
  font-family: 'Roboto', sans-serif; 
  @extend %font-weight--300 ;
  line-height: 1;
}