<h2 class="sub-title"> Login  </h2> 

<form name="form" ng-submit="vm.login(form)" novalidate>

	<input type="text" name="usuario" title="Campo Alfanúmerico mayor a 4 carácteres" placeholder="usuario" ng-pattern="/([A-Za-z0-9]){4,15}\w+/i"  data-icon="user" required autofocus ng-model="app.usuario"/>

	<input type="password" name="contrasena"  title="La contraseña como minimo debe tener 5 caracteres" placeholder="password"    data-icon="lock" required ng-minlength="5" ng-model="app.password"/> 

	<input type="submit" ng-model="app.submit" value="Login" />

</form>