<!DOCTYPE html>
<html data-ng-app="app" >
<head>
	<meta charset="utf-8"/>
	<title> Yemd </title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Yemd by @YetsuPe" />
	<meta name="author" content="@YetsuPe" />
	<link rel="stylesheet" href="css/yemd.css" />
	<link rel="stylesheet" href="vendor/material-design-fonticons/styles/mdfi.css" />
</head>
<body>

	<!-- Appbar -->
	<header data-toolbar="appbar">
		
		<span class="mdfi_navigation_menu" ng-click="yemd.sidenav.toggle('left',true)"></span>
		
		<span class="mdfi_navigation_apps" ng-click="yemd.sidenav.toggle('right',true)"></span>

		<h1 class="appbar__title"> Yemd </h1>

	</header>

	<!-- Sidenav -->
	<nav class="sidenav--left" data-sidenav="left">

		<figure class="sidenav__cover" data-cover="assets/images/cover.jpg">
			<img src="assets/images/logo-yetsu.png" alt="logo" class="sidenav__cover__logo"/>
			<figcaption class="sidenav__cover__text">
				hello@yetsu.com
			</figcaption>
		</figure>

		<section class="sidenav__content">
			<a href="#" class="sidenav__content__link"> Home </a>

			<!-- components -->
			<a href="#" class="sidenav__content__link"> Bottom Sheets </a>
			<a href="#" class="sidenav__content__link"> Buttons </a>
			<a href="#" class="sidenav__content__link"> Cards </a>
			<a href="#" class="sidenav__content__link"> chips </a>
			<a href="#" class="sidenav__content__link"> Dialogs </a>
			<a href="#" class="sidenav__content__link"> Dividers </a>
			<a href="#" class="sidenav__content__link"> Grids </a>
			<a href="#" class="sidenav__content__link"> Lists </a>
			<a href="#" class="sidenav__content__link"> List controls </a>
			<a href="#" class="sidenav__content__link"> Menus </a>
			<a href="#" class="sidenav__content__link"> Pickers </a>
			<a href="#" class="sidenav__content__link"> Progress & activity </a>
			<a href="#" class="sidenav__content__link"> Sliders </a>
			<a href="#" class="sidenav__content__link"> Snackbars & toasts </a>
			<a href="#" class="sidenav__content__link"> Subheaders </a>
			<a href="#" class="sidenav__content__link"> Switches </a>
			<a href="#" class="sidenav__content__link"> Tabs </a>
			<a href="#" class="sidenav__content__link"> Text fields </a>
			<a href="#" class="sidenav__content__link"> Tooltips </a>

			<a href="#" class="sidenav__content__link"> Contact </a>
		</section>
			
	</nav>

	<!-- Sidenav Right --> 
	<section class="sidenav--right" data-sidenav="right">

		<header class="toolbar">
			<h1 class="toolbar__title"> Toolbar </h1>
		</header>

		<section class="sidenav__content"> 
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum voluptas commodi, illo assumenda ipsam perferendis necessitatibus vitae neque quisquam porro doloremque voluptatem cum numquam eligendi, asperiores ipsum amet? Fugiat! 
		</section>

	</section>	
	 
	<main class="canvas" ui-view>

		<article class="card">
			<h3 class="card__title">Bottom sheet</h3>
			<div class="card__content">
				<p>Tap this card to show the bottom sheet</p>
			</div>
		</article>

		
		<!--
	<section data-picker="date" class="picker--date">
		<header class="picker__header">
			Sabado
		</header>
		<section class="picker__date-select">
			<span class="picker__date-select__month">Nov</span>
			<span class="picker__date-select__day">11</span>
			<span class="picker__date-select__year">2014</span>
		</section>
		<section class="picker__calendar">
			<span class="picker__calendar__header">Marzo 2014</span>
			<table class="picker__calendar__table">
				<tr class="picker__calendar__table__days">
					<td>D</td><td>L</td><td>M</td><td>M</td><td>J</td><td>V</td><td>S</td>
				</tr>
				<tr class="picker__calendar__table__numbers">
					<td></td><td></td><td></td><td></td><td></td><td></td><td>1</td>
				</tr>
				<tr class="picker__calendar__table__numbers">
					<td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>1</td>
				</tr>
				
			</table>
		</section>
		<section class='picker__controls'> 
			<a class='picker__controls__option'>Cancelar</a> 
			<a class='picker__controls__option'>Ok</a>  
		</section>
	</section>
-->
		<article class="card">
			<form name="form">
				<input type="text" placeholder="Text" ng-model="text">
				<input type="number" placeholder="Number" ng-model="number">
				<input type="email" placeholder="Mail" ng-model="email">
				<input type="tel" placeholder="Phone" ng-model="phone">
				<input type="search" placeholder="Search" ng-model="search">
				
				<input type="range" placeholder="Range" ng-model="range">
				<input type="date" placeholder="Date">
				<input type="month" placeholder="Month">
				<input type="week" placeholder="Week">
				<input type="time" placeholder="Time">
				<input type="datetime" placeholder="Datetime">
				<input type="datetime-local" placeholder="Datetime-local">
				<input type="color" placeholder="Color">
				<select > 
					<option>XDXD</option>
					<option>XDXD</option>
					<option>XDXD</option>
					<option>XDXD</option>
				</select>
				<button>Enviar</button>
				<input type="submit" value="send">
				
			</form>
		</article>
		
		<div class="card--avatar" data-card>
			<div class="card__photo">
				<img src="assets/images/plane.jpg" alt="" class="card__photo__image" />
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<h4 class="card__sub-title">Sub title</h4>
				<a href="#" class="card__link">Link</a>
			</div>
		</div>

		

		<article class="card--figure" data-card>
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<a href="#" class="card__sub-title"> sub title</a>
				<img class="card__logo" src="assets/images/logo-yetsu.jpg" alt="">
			</div>
		</article>

		<article class="card--frame" data-card>
			<div class="card__cover--frame">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>
			<div class="card__content">
				<h3 class="card__title"> Name </h3>
				<span class="mdfi_communication_message"></span>
			</div>
		</article>

		<h2>List Multiple</h2>

		<section class='list--figure-multiples'> 

			<nav class="list__header">
				<a class="list__header__name"> Field 1 </a> 
				<a class="list__header__name"> Field 2 </a> 
				<a class="list__header__name"> Field 3 </a> 
			</nav>
						
			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title 1</h3>
					<h3 class="list__item__content__title">Title 2</h3>
					<h3 class="list__item__content__title">Title 3</h3>
				</div>
			</article>  
			
		</section> 
		
		<h2>List Figure</h2>

		<section class='list--figure'> 

			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
					<h4 class="list__item__content__sub-title">Sub title</h4>
				</div>
			</article>  
			
			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
					<h4 class="list__item__content__sub-title">Sub title</h4>
				</div>
			</article>  
			
		</section> 

		<h2>List Icon</h2>

		<section class='list--icon'> 

			<article class="list__item" ng-click="openBottomSheet()">

				<span class="list__item__icon mdfi_navigation_menu"></span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>  

			<article class="list__item" ng-click="openBottomSheet()">

				<span class="list__item__icon mdfi_navigation_menu"></span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>  
			
		</section>

		
		<section class='list--letter'> 

			<article class="list__item" >

				<span class="list__item__letter">Y</span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>

			<article class="list__item" >

				<span class="list__item__letter">E</span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>
			
		</section> 

		<section data-bottom-sheet="bsList" data-type="list"> 

			<h2 class="bottom-sheet__title">Bottom Sheet - list</h2>
			
			<section class="bottom-sheet__list">
				
				<article class="bottom-sheet__item">

					<span class="bottom-sheet__item__icon mdfi_file_cloud_upload"></span>
			
					<h3 class="bottom-sheet__item__title">Upload photos or videos</h3>

				</article>  

				<article class="bottom-sheet__item">

					<span class="bottom-sheet__item__icon mdfi_image_photo_camera"></span>
			
					<h3 class="bottom-sheet__item__title">Use Camera</h3>

				</article>  

			</section>

			<section class="bottom-sheet__list">
				
				<article class="bottom-sheet__item">

					<span class="bottom-sheet__item__icon mdfi_file_cloud_upload"></span>
			
					<h3 class="bottom-sheet__item__title">Upload photos or videos</h3>

				</article>  

				<article class="bottom-sheet__item">

					<span class="bottom-sheet__item__icon mdfi_image_photo_camera"></span>
			
					<h3 class="bottom-sheet__item__title">Use Camera</h3>

				</article>  

			</section>

			
				
			
		</section> 

	</main>

<!--Dependencies -->
<script src="vendor/jquery/dist/jquery.min.js"></script> 
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="vendor/verge/verge.min.js"></script>

<script src="js/yemd.full.js"></script>
<script src="js/app.js"></script>

</body>
<html>
