%action {
  @extend %display--flex;
  @extend %zDepth-4;
  @extend %border-radius--50percent;  
  @extend %background-color--secondary;
  @extend %font-size--base;  

  @include transition (all $time-animation $mode-animation);

  [class^="mdfi_"], 
  [class*=" mdfi_"] { 
    font-size: $base-font-icon ;
    color: $color-white;
  }

  &.show {
    @extend %animation-scaleIn;
  }

  &.hide {
    @extend %animation-scaleOut;
  }

}

.action {
  @extend %display--none;
}

/***directive***/ 
.action--embed { 
  @extend %action;
  @include transform( scale(1) );
  @extend %position--absolute;
  @extend %left--base;

  //
  padding: $base-font  * 0.5 ;//em(8px);;
  width : $base-font  * 2.5 ;//em(40px);
  height: $base-font  * 2.5 ;//em(40px); 
}

.action--float {
  @extend %action;
  @extend %position--fixed;
  @extend %z-index--2;
  @extend %bottom--base;
  @extend %right--base;
  @extend %padding--base;
  
  @include transform(scale(1)); 
  width: $base-font  * 3.5;//em(56px);;
  height: $base-font  * 3.5;//em(56px);; 
}

/***** special ***/
.action--in-appbar {
  bottom: -1 * ( $base-font  * 1.25 ) ;// em(20px);
}