%action {
  @extend %display--flex;
  @extend %zDepth-2;
  @extend %border-radius--50percent;  
  @extend %background-color--secondary;

  @include transition (all $time-animation $mode-animation);

  [class^="mdfi_"], 
  [class*=" mdfi_"] { 
    font-size: 24px;
    color: $color-white;
  }

  &.show {
    @extend %animation-scaleIn;
  }

  &.hide {
    @extend %animation-scaleOut;
  }

}

.action {
  @extend %display--none;
}

/***directive***/ 
.action--embed { 
  @extend %action;
  @include transform( scale(1) );
  @extend %position--absolute;
  @extend %left--base;

  //
  padding: em(8px);
  width : em(40px);
  height: em(40px); 
}

.action--float {
  @extend %action;
  @extend %position--fixed;
  @extend %z-index--2;
  @extend %bottom--base;
  @extend %right--base;
  @extend %padding--base;
  
  @include transform(scale(1));
  width: em(56px);
  height: em(56px); 
}

/***** special ***/
.action--in-appbar {
  bottom: -1* em(20px);
}