%action {
  @extend %display--flex;
  @extend %zDepth-4;
  @extend %border-radius--50percent;  
  @extend %background-color--primary;
  @extend %font-size--base;  
  z-index: 1;
  @include transition (all $time-animation $mode-animation);

  [class^="mdfi_"], 
  [class*=" mdfi_"] { 
    font-size: 24px ;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  &.show {
    @extend %animation-scaleIn;
  }

  &.hide {
    @extend %animation-scaleOut;
  }

}

.action {
  @extend %action;
  @extend %position--absolute;
}

.action--embed {
  @extend %action;
  @extend %position--absolute;
  width: em(56);
  height: em(56);
  
  [class^="mdfi_"], 
  [class*=" mdfi_"] { 
    width : em(56, 24) ;
    height: em(56, 24) ;
  }
}

.action--float {
  @extend %action;
  @extend %position--fixed;
  @extend %bottom--base;
  @extend %right--base;
  width: em(56);
  height: em(56);
  
  [class^="mdfi_"], 
  [class*=" mdfi_"] { 
    width : em(56, 24) ;
    height: em(56, 24) ;
  }

}
.appbar--extend,
.toolbar--extend {
  
  .action {
    @extend %left--base;
    @extend %background-color--secondary;
    
    bottom: -1 * em(20) ;// em(20px);

    width : em(40) ;//em(40px);
    height: em(40) ;//em(40px); 

    [class^="mdfi_"], 
    [class*=" mdfi_"] { 
      width : em(40, 24) ;
      height: em(40, 24) ;
    }
  }
  
}

.toolbar--2rows .action { 
  left: auto;
  @include calc('right', ' 8.333335% - #{em(20)}' );
}

@media screen and (min-width: $media-md) {
  
  .appbar--extend,
  .toolbar--extend {
    .action {
      width : em(56) ;
      height: em(56) ; 
      left: em(24);
      bottom: -1 * em(28)  ;
      [class^="mdfi_"], 
      [class*=" mdfi_"] { 
        font-size: 24px ;
        color: $color-white;
        width : em(56, 24) ;
        height: em(56, 24) ;
      }

    }
  }

  .toolbar--2rows .action { 
    left: auto;
    @include calc('right', ' 8.333335% - #{em(28)}' );
  }

}
