.canvas,
.canvas--block,
.canvas--default {
	@extend %position--relative;
	//@extend %display--flex;
}

@media screen and (min-width: $media-md) {
	.canvas--block {
		background-color: $color-white;
		width: 66.66666%;
		margin-left: auto;
		margin-right: auto;
		top: em( 64 * 2) * -1 ;
		@include zDepth(2);
		border-radius: em(2);
		@include calc('min-height', ' 100vh  - 8em ');
		
		[class^="card"], 
		[class*=" card"] {
			@include zDepth(0);
			margin: 0;
		}

	}

	
}
