%card {
  @extend %zDepth-1;
  @extend %border-radius--card; 
  @extend %position--relative;  
  @extend %display--flex; 
  margin  : em(8px); 
}
	%card__cover--height {
		width: 100%;
		@include calc('height', ' ( 100vw - 1em ) * #{ (9/16) } ');
	}
 
.card {
	@extend %card;
	@extend %flex-direction--column;
	background-color: $color-white;
	.card__cover {
		border-radius: em(2) em(2) 0 0 ;
		@extend %card__cover--height;
	}
}
.card--avatar {
	@extend %card;
	background-color: $color-white;
	.card__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.card__title {
			margin: 0;
			color: $color-primary;
		}
	}
	.card__photo {
		width: em(100);
	}
}
.card--frame {
	@extend %card;
	flex-direction: column;
	background-color: $color-white;
	width: calc(50% - 0.5em);
	margin-bottom: 1em;
	.card__content {
		margin: 0;
		padding: .5em;
		display: flex;
		justify-content: space-between;
		.card__title {
			margin: 0;
			font-size: 1em;
			/** text verflow **/
			text-overflow: ellipsis;
			overflow-x: hidden;
		}
	}
}
.card--figure {
	@extend %card;
	.card__cover {
		border-radius: em(2);
		@extend %card__cover--height;
	}
	.card__content {
		border-radius: 0 0 em(2) em(2);
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: rgba(0,0,0,.4);
		line-height: 1;
		.card__title {
			margin: 0;
			color: $color-white;
		}
		.card__sub-title {
			font-weight: 400;
			color: lighten($color-secondary, 40%);
		}
	}
}
.card--full {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	background-color: $color-white;
	padding: 1em;
}
	.card__content {
		padding: 1em;
		p {
			margin: 0;
			color: lighten($color-black, 40%);
		}
	}
	%card__cover {
		position: relative;
		background-size: cover;
		background-position: center;
		img {
			display: none;
		}
	}
	.card__cover {
		@extend %card__cover;
		border-radius: em(2) em(2) 0 0 ;
	}
	.card__photo {
		@extend %card__cover;
		border-radius: em(2) 0 0 em(2) ;
	}
	.card__cover--frame img {
		border-radius: em(2) em(2) 0 0;
		width: 100%;
	}
	.card__link {
		color: lighten($color-black, 40%);
	}
	.card__logo {
		position: absolute;
		width: em(56);
		bottom: em((32+16+18)/2);
		right: 1em;
		border-radius: 50%;
	}
	.card__item--icon {
		width: 150px;
		padding: .5em;

		align-items: center;
		display: flex;
		flex-direction: column;
	}
		.card__item__photo {
			max-width: 100%;
			border-radius: 50%;
		}
		.card__item__link {
			color: $color-primary;
		}
		.card__item__title {
			margin: .5em 0;
			font-size: 1em;
			font-weight: 400;
			text-align: center;
		}
	.card__title {
		margin: em(16, 18) em(16, 18) 0 em(16, 18);
		font-size: em(18);
		font-weight: 400;
	}
	.card__sub-title {
		color: lighten($color-primary, 20%);
	}
