%card {
  @extend %zDepth-1;
  @extend %border-radius--card; 
  @extend %position--relative;
  @extend %bg--white;    
}
 

//components
%card__title { 
	@extend %font-weight--400 ;
	@extend %line-height--1 ;
	@extend %color--primary;
	font-size:em(24px);

	margin-bottom: em(8,24); 
}


// end placeholders

//card
.card {
	@extend %card; 
	margin  : em(8px);
	padding : em(16);
} 

.card--full { 
	@extend %card; 
	padding : em(16);
}
.card--full-padding-0, 
.card--full-list, {
	@extend %card; 
}
.card--figure {
	@extend %card; 
	@extend %display--flex;
	margin  : em(8px);

	img {
		flex-grow: 1;
	}
	div {
		flex-grow: 3;
	}
}
.card--list {
	@extend %card; 
	margin  : em(8px); 
	.card__title,
	.card__title--center {
		@extend %clearfix; 
		padding: em(16,24) 0 0 0;
		margin: 0;
	}
}
//Card components

.card__title { 
	@extend %card__title;
} 
.card__title--center { 
	@extend %card__title;
	@extend %text-align--center; 
}
.card__image {
	background-size: cover;
	background-position: center center ;
	border-radius:em(2px ) 0 0 em(2); 
}
.card__description {
	padding : em(16);
	p {
		margin-bottom: em(8);
	}
}
.card__logo--main {
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto em(8) auto;
	@extend %padding--0 ; 
	svg {
		@extend %width--100percent;
		@extend %height--100percent;
	}
}
