%card {
  @extend %zDepth-1;
  @extend %position--relative;  
  @extend %display--flex; 
  
  [class^="list"],
  [class*=" list"] {
	@extend %zDepth-0;
  }
}

	%card__cover {
		position: relative;
		background-size: cover;
		background-position: center;
	}

	%card--square {//Fix later scroolbar in chrome
		@extend %card;
		@extend %border-radius--card; 
		@include calc('width', '( 100vw / 2 ) - #{em(6)} ');
		@include calc('height', '( 100vw / 2 ) - #{em(6)} ');
		 
		
		&:nth-child(odd) {
			margin: em(4) em(2) 0 em(4);
		}
		&:nth-child(even) {
			margin: em(4) em(4) 0 em(2);
		}
		
		.card__title {
			font-size: 16px;
			padding: 1em;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba($color-black, .75);
			color: $color-white;
			width: 100%;
			border-radius: 0 0 em(2) em(2);
		}

	}

.yemd { 

	.card {
		@extend %card;
		@extend %border-radius--card;
		@extend %flex-direction--column;
	  	margin  : em(8px);
	    background-color: $color-white;
	}

  	.card--avatar {

	  $card-avatar-photo : em(120);

	  @extend %card;
	  margin  : em(8px);
	  background-color: $color-white;
	  .card__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		@include calc('width', '100% - #{$card-avatar-photo}');
		min-height: $card-avatar-photo;
		.card__title {
		  margin: 0;
		  color: $color-primary;
		  padding: 0;
		  height: auto;
		}
	  }

	  .card__photo {
		width: $card-avatar-photo;
		border-radius: em(2) 0 0 em(2);
	  }

  	}

	.card--cover {
		@extend %card;
		@extend %border-radius--card; 
		margin  : em(8px); 
		@extend %flex-direction--column;
		background-color: $color-white;
		.card__cover {
			border-radius: em(2) em(2) 0 0 ;
			width: 100%;
		}
	}

	.card--post {
	  $card-post-photo : em(120);
	  display: flex;
	  padding: em(8) em(16);
	  background-color: $color-white;
	  .card__photo {
		width: $card-post-photo;
		height: $card-post-photo * 3/4 ; //90px
		border-radius: em(2);
	  }

	  .card__content {
		@include calc('width', '100% - #{$card-post-photo}');
		padding: 0 0 0 em(16);
	  }

	  .card__description {
		height: em(40);
		overflow: hidden;
	  }

	  .card__actions {
		margin-top: em(6);
		[class^="mdfi_"],
		[class*=" mdfi_"] {
		  width: 1em;
		  height: 1em;
		}
	  }

	  .card__title {
		font-size: em(18);
		margin-bottom: em(2);
	  }
	  &:first-of-type {
		padding: em(16) em(16) em(8) em(16);
	  }
	  &:last-of-type {
		padding: em(8) em(16) em(16) em(16);
	  }
	}

	.card--icon {

		$card-avatar-icon : em(120);

		@extend %card;
		margin  : em(8px);
		background-color: $color-white;

		.card__content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			@include calc('width', '100% - #{$card-avatar-icon}');
			min-height: $card-avatar-icon;
			.card__title {
				margin: 0;
				color: $color-primary;
				padding: 0;
				height: auto;
			}
		}

		.card__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-secondary;
			width: $card-avatar-icon;
			border-radius: em(2) 0 0 em(2);
			> [class^="mdfi_"], 
			> [class*=" mdfi_"] {
				color: $color-white;
				font-size: $base-font-icon * 2 ;
				width: auto;
				height: auto;
			}
		}
	}

	.card--frame {
		@extend %card;
		margin  : em(8px); 
		flex-direction: column;
		background-color: $color-white;
		margin-bottom: 1em;

	}

	.card--figures {
		@extend %card;
		flex-direction: column;
		margin  : em(8px); 
		background-color: $color-white;
		@extend %border-radius--card; 
		.card__content {
			display: flex;
			flex-flow: row wrap;
			padding: 1em 1em em(12) 1em;
			justify-content: space-between;
			> div {
				//flex-grow: 1;
				background-size: cover;
				background-position: center, center;
				position: relative;
				border-radius: em(2);
				margin-bottom: em(4);
				
				span {
					font-size: 16px;
					padding: 1em;
					position: absolute;
					bottom: 0;
					left: 0;
					background-color: rgba($color-black, .75);
					color: $color-white;
					width: 100%;
					border-radius: 0 0 em(2) em(2);
				}

			}

			img {
				display: none;
			}
		}
	}

	.card--figure {
		@extend %card;
		margin  : em(8px); 
		.card__cover {
			border-radius: em(2);
			width: 100%;
		}
		.card__content {
			border-radius: 0 0 em(2) em(2);
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			background-color: rgba(0,0,0,.4);
			line-height: 1;
			.card__title {
				margin: 0;
				color: $color-white;
			}
			.card__subtitle {
				font-weight: 400;
				color: lighten($color-secondary, 40%);
			}
		}
	}

	.card--full {
		@extend %card; 
		flex-wrap: wrap;
		margin: 0;
		background-color: $color-white;
		.card__content {
			padding: 0;
		}

		.card__content--padding {
			padding: 1em em(8+16);
			p {
				color: lighten($color-black, 40%);
				line-height: 1.5;
			}
		}
	}


	.card--square {
		@extend %card--square;
	}

	.card--square-picture {
		@extend %card--square;
		background-position: center;
		background-size: cover;
	}

		.card__controls { // same picker controls
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  height: em(48);
		}
  			.card__controls__options {
			  display: flex;
			}
				.card__controls__options__option {
				  color: $color-primary;
				  font-weight: 400;
				  padding: 0 1em;
				  height: em(36);
				  display: flex;
				  align-items: center;
				  margin-right: em(8);
				}

  		.card__controls__actions {
		  display: flex;
		  justify-content: flex-end;
		  > a {
			display: flex;
			[class^="mdfi_"],
			[class*=" mdfi_"] {
			  color: $color-icon ;
			}
			&:last-child {
			  margin-right: 0;
			}
		  }
		}
  			.card__actions__text {
			  padding-left: .5em;
			  align-self: center;
			  color: lighten($color-black, 50%);
			  @extend %text-overflow--ellipsis;
			  @extend %overflow--hidden;
			}

		.card__content {
			position: relative;
			width: 100%;
			padding: 1em;
			.card__title {
				padding: 0;
			}
			p,
			.card__resume {
				margin: 1em 0 0 0; 
				color: $color-text;
				line-height: 1.25;
				&:first-of-type {
					margin: 0; 
				}
			}
		  	.card__resume {
			  height: em(32 + 8);
			  overflow: hidden;
		  	}
		}

		.card__content--inline {
		  margin: 0;
		  padding: em(4);
		  justify-content: space-between;
		  display: flex;

		  .card__title {
			margin: 0;
			font-size: 1em;
			text-overflow: ellipsis;
			overflow-x: hidden;
		  }
		}

		.card__header { //exten for list__item
			@extend .list__item;
		  	height: auto !important;
		}
  			.card__header__image {
			  @extend .list__item__img;
			}
  			.card__header__content {
			  @extend .list__item__content;
			}
				.card__header__content__title {
				  @extend .list__item__content__title;
				}
				.card__header__content__subtitle {
				  @extend .list__item__content__subtitle;
				}



		.card__cover {
			@extend %card__cover;
		  	.card__title {
				position: absolute;
			    bottom: 0;
			  	width: 100%;
			  	color: $color-white;
			  	padding: em(16, 24);
		  	}
		}

		.card__cover--map {
			border-radius: em(2) em(2) 0 0 ;
			width: 100%;
			@include calc('height', ' ( 100vw ) * #{ (3/4) } ');
		}
			.card__cover__image {
				display: none;
			}
		.card__photo {
			@extend %card__cover;
			border-radius: em(2) 0 0 em(2) ;
		}

		.card__link {
			color: lighten($color-black, 40%);
		}

		.card__logo {
			position: absolute;
			width: em(56);
			height: em(56);
			top: em(56/2) * -1;
			right: 1em;
			border-radius: 50%;
		}

		.card__item--icon {
			width: 150px;
			padding: .5em;

			align-items: center;
			display: flex;
			flex-direction: column;
		}
			.card__item__photo {
				max-width: 100%;
				border-radius: 50%;
			}
			.card__item__link {
				color: $color-primary;
			}
			.card__item__title {
				margin: .5em 0;
				font-size: 1em;
				font-weight: 400;
				text-align: center;
			}
		.card__title {
			//margin: em(16, 18) em(16, 18) 0 em(16, 18);
			font-size: em(24);
			font-weight: 400;

			padding: em(16, 24) em(16, 24) 0 em(16, 24);
			display: flex;
			align-items: center;

		}
		.card__subtitle {
			color: lighten($color-primary, 20%);
		}
}

@media screen and (min-width: $media-md) {

	.yemd {

	  .card__controls {
		height: em(64);
	  }

	}

}
