form {
  @extend %display--flex;
  @extend %flex-direction--column;
  //padding: 1em;
}

%labels {
  height: em(16, 14);
  font-size: em(14);
  line-height: 1;
}

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="search"]{
    //@extend %display--flex;
    //@extend %align-items--center;
    width: 100%;
    @extend %line-height--1; 
    padding: 0;
    height: em(21); //Fix later
      //height: em(48);
    &::-webkit-input-placeholder {
      color:$color-secondary-text;
      opacity: 0;
      @include animation( fadeIn $time-animation ease forwards); 
    }
    &:-moz-placeholder {
      color:$color-secondary-text;
      opacity: 0;
      @include animation( fadeIn $time-animation ease forwards); 
    }
  }

.wrapper {
  display: block;
  padding: em(16);
  height: em(48);
  @include transition( height $start_animation );

  &.focus {
    height: em(72);
  }
  &.hide {
    display: none;
  }
  @extend %position--relative;
  //@extend %display--flex;
  //@extend %flex-direction--column;
  .valid {
    @extend %labels;
    display: none;
    color: $color-secondary-text;
    margin-bottom: em(4);
    &.enter{  
      @extend %animation-labelIn;
      & ~ input {
        @extend %animation-moveInputDown;
      }
    }
    &.leave{ 
      @extend %animation-labelOut;
      & ~ input {
        @extend %animation-moveInputUp;
      }
    }
    &.showD{
      @extend %display--block;
    }
  }
  .invalid {
    display: none;
    @extend %labels;
    color: $color-error;
    margin-top: em(4);
    &.enter{  
      @extend %animation-labelErrorIn;
      & ~ input {
        @extend %animation-moveInputUp;
      }
    }
    &.leave{ 
      @extend %animation-labelErrorOut;
      & ~ input {
        @extend %animation-moveInputDown;
      }
    }
    &.showD{
      @extend %display--block;
    }
  }

  
  &:after {
    content:'';
    position: absolute;
    bottom: em(7.5);
    left: 1em;
    @include calc('width', '100% - 2em' );
    border-bottom: em(1) solid lighten($color-secondary-text, 50%);
    @include transition( all $start_animation );
  }
  &.error {
    &:after {
      bottom: em(31);
    }
  }
  &.open {
    height: em(72);
    .valid {
      display: block;
    }
    &:after {
      border-bottom: 0;
    }
  }
  &.open--image {
    height: auto;
    padding: 0;
    input {
      position: absolute;
      opacity: .2;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &:after {
      border-bottom: 0;
    }
    img {
      width: 100%;
    }
  }
  &.open--all {
    height: em(72);
    .valid {
      display: block;
    }
  }
  &.open--select {
    height: em(52);
    select {
      width: 100%;
    }
  }
  &.open--select-w-second-action {
    height: em(52);
    &:after {
      @include calc('width', ' 100% - #{ em(40) } ' );
    }
    select {
      @include calc('width', ' 100% - #{ em(40) } ' );
    }
    span {
      color: $color-secondary;
      width: em(40, 24);
      text-align: center;
      position: absolute;
      font-size: 24px;
      right: 0;
      top: em(16, 24);
    }
  }

  &.open--checkbox {
    display: flex;
    flex-wrap: wrap;
    height: em(72);
    .valid {
      width: 100%;
      display: block;
    }
    &:after {
      border-bottom: 0;
    }
  }
}
select {
  border: 0 ;
  outline: 0;
}
%button {
  @extend %zDepth-1;
  display:block;
  height: em(32);
  width: em(88);
  max-width: 100%;
  line-height: 2; 
  text-transform: uppercase;
  margin: em(8) em(16) em(8) 0;
  @include zDepth($z_depth:1); 
  text-align: center;
  border-bottom: 0; 
  &:hover {
    cursor: pointer;
  }
  &:nth-of-type {
    margin: em(8) 0 ;
  }
}

input[type="submit"],
button,
.button {
  @extend %button;
  color:$color-text-white ;
  background-color: $color-primary ;
}
.button--second {
  @extend %button;
  color: $color-text ;
  background-color: $color-default ;
}

button {
  border: 0;
}

// slider
input[type=range] {
 -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: - em(7);
  height: em(16);
  width: em(16);
  border-radius: 50%;
  background: #c7c7c7;
  cursor: pointer;
  -webkit-appearance: none;
  @include transition( all .2s $mode-animation );
  //margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: em(3);
  cursor: pointer;
  @include transition( all .2s $mode-animation );
  background: lighten($color-secondary-text, 60%);
  border-radius: 1px;
}

input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-thumb {
  background: $color-success;
}

input[type=range]:focus::-webkit-slider-thumb {
  height: em(24);
  width: em(24);
  top: - em(11);
}


/** switch**/

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 12px;
  padding: 0;
}

.switch-input {
 position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 20px;
  z-index: 2;
  margin: 0;
  cursor: pointer;
}

.switch-track {
  position: relative;
  top: 4px;
  display: block;
  height: inherit;
  background-color:  rgba($color-black, .26) ;
  border-radius: 8px;
  @include transition ( all 0.15s ease-out );
  @include transition-property( opacity background );
}
.switch-input:checked ~ .switch-track {
  background: $color-divider;
}
.switch-input:checked ~ .switch-track:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-track:after {
  opacity: 1;
}

.switch-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FAFAFA;
  border-radius: 100%;
  @extend %zDepth-1;
  @include transition ( all 0.15s ease-out );
}
.switch-input:checked ~ .switch-thumb {
  left: 20px;
  background: $color-success;
}

.switch-green > .switch-input:checked ~ .switch-track {
  background:  rgba($color-success, .5) ;
}

/****** radio  ****/

.checkbox {
  @extend %display--flex;
  height: em(20);
  label {
    margin-left: .5em;
  }
  margin-left: 1em;
  &:first-of-type {
    margin-left: 0;
  }
}

.checkbox input[type=radio]{
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
}


.checkbox label:hover{
  background: rgba(255,255,255,0.45);
}

.checkbox .check{
  pointer-events: none;
  display: block;
  position: relative;
  border: 2px solid rgba( $color-black, .54);
  border-radius: 100%;
  height: em(20);
  width: em(20);
  @include transition ( all 0.15s ease-out );
}

input[type=radio]:checked ~ .check {
  border: 2px solid $color-success;
}

input[type=radio]:checked ~ .check .inside{
  display: block;
  position: relative;
  top: 2px;
  left: 0;
  background-color: $color-success;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  margin: auto;
  @include transition ( all 0.15s ease-out );
}

input[type=radio]:checked ~ label{
  color: $color-success;
}
