form {
  @extend %display--flex;
  @extend %flex-direction--column;
  padding: 1em;
}

%labels {
  height: em(16, 14);
  font-size: em(14);
  line-height: 1;
}

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="search"]{
    //@extend %display--flex;
    //@extend %align-items--center;
    @extend %line-height--1; 
      height: em(21); //Fix later
      //height: em(48);
    &::-webkit-input-placeholder {
      color:$color-secondary-text;
      opacity: 0;
      @include animation( fadeIn $time-animation ease forwards); 
    }
    &:-moz-placeholder {
      color:$color-secondary-text;
      opacity: 0;
      @include animation( fadeIn $time-animation ease forwards); 
    }
  }

fieldset {
  padding: em(16) 0;
  height: em(48);
  @include transition( height $start_animation );
  &.focus {
    height: em(72);
  }
  @extend %position--relative;
  @extend %display--flex;
  @extend %flex-direction--column;
  label:first-of-type {
    @extend %labels;
    display: none;
    color: $color-secondary-text;
    margin-bottom: em(4);
    &.enter{  
      @extend %animation-labelIn;
      & ~ input {
        @extend %animation-moveInputDown;
      }
    }
    &.leave{ 
      @extend %animation-labelOut;
      & ~ input {
        @extend %animation-moveInputUp;
      }
    }
    &.showD{
      @extend %display--block;
    }
  }
  label:nth-of-type(2) {
    display: none;
    @extend %labels;
    color: $color-error;
    margin-top: em(4);
  }

  
  &:after {
    content:'';
    position: absolute;
    bottom: em(7.5);
    width: 100%;
    border-bottom: em(1) solid lighten($color-secondary-text, 50%);
  }
  &.open {
    height: em(72);
    label:first-of-type {
      display: block;
    }
    &:after {
      border-bottom: 0;
    }
  }
  &.open--all {
    height: em(72);
    label:first-of-type {
      display: block;
    }
  }
}
select {
  border: 0 ;
  outline: 0;
}
input[type="submit"],
button{
  display:block;
  background: $color-primary ;
  height: em(32);
  width: em(88);
  max-width: 100%;
  line-height: 2; 
  text-transform: uppercase;
  color:$color-text-white ;
  margin: em(8) 0 ;
  @include zDepth($z_depth:1); 
  border-bottom: 0; 
  @include box-sizing( border-box );
  &:hover {
    cursor: pointer;
  }
}
button {
  border: 0;
}


input[type=range] {
 -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: - em(7);
  height: em(16);
  width: em(16);
  border-radius: 50%;
  background: #c7c7c7;
  cursor: pointer;
  -webkit-appearance: none;
  @include transition( all .2s $mode-animation );
  //margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: em(3);
  cursor: pointer;
  @include transition( all .2s $mode-animation );
  background: lighten($color-secondary-text, 60%);
  border-radius: 1px;
}

input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-thumb {
  background: $color-success;
}

input[type=range]:focus::-webkit-slider-thumb {
  height: em(24);
  width: em(24);
  top: - em(11);
}