%list{
  display: flex;
  background-color: $color-white;
  flex-direction: column;
  @extend %zDepth-1;
}
  %list__item__field {
    &:hover { cursor: pointer; }
    display: none;
    flex-grow: 1;
    flex-basis: 220px;
    line-height: 1.25;
    @extend %text-overflow--ellipsis ;
    height: 20px;
    overflow: hidden;
    padding-right: .5em;
    font-size: 16px;
    align-self: center;
    &:first-child { display: block; flex-grow: 2; }
    &:nth-child(2) { display: block; }
  }

.list--figure {
  @extend %list;
  margin: em(8) 0;
  &:first-of-type {
    margin: 0;
  }
}

.list--figure-controls {
  @extend %list;
  margin: em(8) 0;
  &:first-of-type {
    margin: 0;
  }
  
  .list__item__content--multiple {
    @include calc('width', ' 100% - #{em(72 + 32 + 24 ) } ');
  }
  .list__header {
    padding-right: em(56);
  }

}
  
  .list__header{
    @extend %display--flex;
    height: em(48);
    margin-left: em(72);
    align-items: center;
    border-bottom: em(2) solid $color-secondary;
    @include calc('width', ' 100% - #{em(72)} ');
  }
    .list__header__name {
      @extend %color--secondary;
      @extend %text-transform--capitalize;
      @extend %list__item__field;
    }

  .list__item {
    display: flex;
    height: em(72);
    align-items: center;
  } 
    .list__item__img {
      width:  em(40);
      height: em(40); 
      border-radius: 50%;
      margin-left: em(16);
      margin-right: em(16);
    } 
    .list__item__controls {
      display: flex;
      flex-basis: em(56, 24);
      font-size: em(24);
      justify-content: center;
      align-self: inherit;
      align-items: center;
    }
    .list__item__content {
      padding: em(20) 0 ;
      @extend %display--flex;
      @extend %flex-direction--column; 
    }
    .list__item__content--multiple {
      padding: em(20) 0 ;
      @extend %display--flex;
      @include calc('width', ' 100% - #{em(72)} ');
      .list__item__content__title {
        @extend %list__item__field;
      }
    }
      .list__item__content__title {
        font-weight: 300;
        &:hover { cursor: pointer; }
      }
      .list__item__content__sub-title {
        &:hover { cursor: pointer; }
        font-weight: 300;
        font-size: em(14);
        color: lighten($color-black, 40%);
      }

@media screen and (min-width: 600px) {
  .list__header__name:nth-child(3),
  .list__header__name:nth-child(4),
  .list__item__content--multiple .list__item__content__title:nth-child(3),
  .list__item__content--multiple .list__item__content__title:nth-child(4) { 
    display: block; 
  }
}

@media screen and (min-width: 900px) {
  .list__header__name:nth-child(5),
  .list__header__name:nth-child(6),
  .list__item__content--multiple .list__item__content__title:nth-child(5),
  .list__item__content--multiple .list__item__content__title:nth-child(6) { 
    display: block; 
  }
}

@media screen and (min-width: 1200px) {
  .list__header__name:nth-child(7),
  .list__header__name:nth-child(8),
  .list__item__content--multiple .list__item__content__title:nth-child(7),
  .list__item__content--multiple .list__item__content__title:nth-child(8) { 
    display: block; 
  }
}



/****** List ****
//list
%list{
  font-size:em(16px); 
}

.list--single-line {
  @extend %list;   
  a {
    @extend %display--block;
    @extend %line-height--1;
    @extend %color--secondary;
    @extend %overflow--hidden;
    @extend %text-overflow--ellipsis ;
    height: em(48);
    padding: em(16); 
  }
}

.list--figure {
  @extend %list;  
}
  .list__header {
    border-bottom: em(2) solid $color-secondary;
  }
  .list__header,
  .list__item__head {
    @extend %display--flex;
    height: em(48);
    margin-left: em(72);
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  
  .list__header__name {
    @extend %color--secondary;
    @extend %text-transform--capitalize;
  }
  .list__item__head__text {
    @extend %color--black;
  }
  .list__header__name,
  .list__item__head__text {
    flex-grow: 1;
    width: 1px; //Bug
    &:first-child {
      flex-grow: 2;
    }
  }

  .list__item {
    @extend %clearfix;
    height: em(56);
  } 
  .list__item__img,
  .list__item__icon { //wrapper image
    padding: em(8px) em(16px);
    width: em(72px);
    height: em(56px);
    @extend %float--left;
    img,
    svg {
      @extend %display--block;
      @extend %border-radius--50percent;
      width: em(40px);
      height: em(40px); 
    }
  } 
  .list__item__icon svg {
    padding: em(8); 
    background-color: $color-primary;  
  }
  
.list--social {
  @extend %text-align--center;
  .list__item__icon{
    @extend %float--none;
    display: inline-block;
    padding: em(8);
    width: em(56);
  }
}*/