%picker {
	position: fixed;
	top: 1em;
	left:1em;
	@include calc('width','100% - 2em ');
	border-radius: em(2);
	background-color: $color-white;
}
.picker--date {
	@extend %picker;
}
	.picker__calendar {
		padding: 0 1em;
	}
		.picker__calendar__header {
			font-weight: 400;
			text-align: center;
			display: block;
			margin: .5em 0 0 0;
		}
		.picker__calendar__table {
			width: 100%;
			border-collapse: separate;
			border-spacing: 1em;
		}
			.picker__calendar__table__days {
				td {
					text-transform: uppercase;
					font-weight: 400;
					font-size: em(14);
					width: percentage( 1 / 700 );
					text-align: center;
				}
			}
			.picker__calendar__table__numbers {
				td {
					font-size: em(14);
					width: percentage( 1 / 700 );
					text-align: center;
				}
			}
	.picker__controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: em(48);
	}
		.picker__controls__option {
			color: $color-secondary;
			font-weight: 400;
			padding: 0 1em;
			height: em(36);
			display: flex;
			align-items: center;
			margin-right: em(8);
		}
	.picker__header {
		background-color: darken( $color-secondary, 5% );
		text-align: center;
		padding: .5em 0;
		color: $color-white;
	}
	.picker__date-select {
		padding: 1em 0;
		background-color: $color-secondary;
	}
		.picker__date-select__month { font-size: em(20); 
			display: block;
			text-align: center;
			color: $color-white;
			line-height: 1;
			font-weight: 400;
		}
		.picker__date-select__day { font-size: em(50); 
			display: block;
			text-align: center;
			color: $color-white;
			line-height: 1;
			font-weight: 500;
		}
		.picker__date-select__year { font-size: em(20); 
			display: block;
			text-align: center;
			color: rgba($color-white, .75);
			line-height: 1;
			font-weight: 400;
		}

@media screen and ( min-width: 400px ) {
	%picker {
		width: 368px;
		@include calc('left', ' 50% - 1em - #{ 368px / 2 } ' );
	}
}