%sidenav {
	@extend %position--fixed;
	@extend %top--0; 
	@extend %zDepth-2;
	@extend %z-index--3;
	@extend %height--100percent;
	@include calc( "width", " 100% - #{ em(56px) } " );
	@include transition (all $time-animation $mode-animation);
	&.opacity {
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.25);
			position: absolute;
			top: 0;
		}
	}
}

.sidenav--left{
	@extend %sidenav; 
	//@extend %animation-hideSidenavLeft; /** problem firefox os */
	@include fix_sidenav_position; 
	&.show{ 
		@extend %animation-showSidenavLeft;
	}
	&.hide{ 
		@extend %animation-hideSidenavLeft;
	}
}
.sidenav--right { 
	@extend %sidenav;
	@include transform( translateX( 100% ) ); 
	right: 0;
	background-color: $bg-sidenav;
	&.show{ 
		@extend %animation-showSidenavRight;
	}
	&.hide{ 
		@extend %animation-hideSidenavRight;
	}
}
	.sidenav__cover {
		@include calc( "height", "( 100vw - #{ em(56px) } ) * #{ 9/16 } " );
		@extend %position--relative ;
		@extend %background-repeat--no-repeat;
		@extend %background-size--cover;
		background-image: url("../assets/images/cover.jpg") ;
		padding:0 em(16px); 
	}
		.sidenav__cover__logo {
			@extend %display--block ;
			@extend %position--relative ;
			top: em(16px);
			width: em(64px);
			height: em(64px);
			padding: em(4);
			background-color: $color-white ; 
			@extend %border-radius--50percent;
			@extend %animation-scaleIn;
		}
		.sidenav__cover__text {
			@extend %position--absolute ;
			@extend %bottom--0 ;
			@extend %left--0 ;
			@extend %width--100percent;
			@extend %line-height--3 ;  
			@extend %overflow--hidden;
			@extend %text-overflow--ellipsis;
			color: $color-white;
			padding: 0 em(16);
			height:em(48); 
			
		}
	.sidenav__content {
		@extend %display--flex;
		@extend %flex-direction--column;
		@extend %height--100percent; //check
		background-color: $bg-sidenav; 
	}
		.sidenav__content__link {
			@extend %display--block;
	    @extend %line-height--1;
	    @extend %color--secondary;
	    @extend %overflow--hidden;
	    @extend %text-overflow--ellipsis ;
	    height: em(48);
	    padding: em(16); 
		}

/****** fix overflow-y:scrool when the height sidenav is menor*/ 
@media only screen and ( max-width: 256px ) {
 .sidenav--left figure img{
 		//display: none ;
 		pointer-events: none;
 		@include animation( scaleOut $time-animation $mode-animation forwards );
 	}
}

@media only screen and ( min-width: 320px ) {
	.sidenav--left,
	.sidenav--right { 
		min-width: 264px; 
		width: 20%; 
		max-width: 400px; 
	}
		.sidenav__cover {
			@include calc( "min-height", " 264px * #{ 9/16 } " );
			@include calc( "height", " 20% * #{ 9/16 } " );
			@include calc( "max-height", " 400px * #{ 9/16 } " );
		}

}

