%toolbar {
  @extend %display--flex;
  @extend %align-items--center ;

  @extend %position--relative;
  @extend %zDepth-1;
  @extend %background-color--primary ;

	@include transition ( height $time-animation $mode-animation );
	
	> [class^="mdfi_"], 
	> [class*=" mdfi_"] {
		@extend %position--absolute;
		@extend %display--flex;
		@extend %align-items--center;
		@extend %justify-content--center;
		top: em(4, 24);
		width:em(48, 24);
		height:em(48, 24);
		font-size: 24px;
		color: $color-white;
		&:first-of-type {
			left: 0;
			right: em(4, 24);
		}
		&:nth-last-of-type(1) {
			@extend %left--auto;
			right: em(4, 24);
		}
		&:nth-last-of-type(2) {
			@extend %left--auto;
			right: em(56, 24);
		}

		&:nth-last-of-type(3) {
			@extend %left--auto;
			right: em(108, 24);
		}

		&:nth-last-of-type(4) {
			@extend %left--auto;
			right: em(160, 24);
		}

		&:nth-last-of-type(5) {
			@extend %left--auto;
			right: em(212, 24);
		}

	}

}

.appbar,
.toolbar {
	@extend %toolbar;
	height: em(56); 

	&.extend {
		@extend %toolbar--extend;
	}
}
	.appbar__title,
	.toolbar__title { 
		color: white; //Bug
		//@extend %color--white ; 
		@extend %text-overflow--ellipsis; 
		@extend %overflow--hidden;
		@extend %font-size--base;  
		//@extend %pointer-events--none; 
		@extend %line-height--1; 
		@extend %text-transform--uppercase; 

		//@include calc("width","100% - #{ em(72) + em(48*2+4*3) } ");
		//@include transition ( all $time-animation $mode-animation );

		margin-left: em(72); 
		
	}

%toolbar--extend {
	height: em(128);

	.appbar__content {
		align-self: flex-end;
	}

	.appbar__title,
	.toolbar__title {
		//@include transform( translateY( em(82,20) ) ); 
		font-size: em(20);
		margin-left: em(72,20);
		color: white;
		margin-bottom: 26px;
	}
}

.appbar--extend,
.toolbar--extend {
	@extend %toolbar;
	@extend %toolbar--extend;
}
