%toolbar {
  @extend %display--flex;
  @extend %align-items--center ;

  @extend %position--relative;
  @extend %zDepth-2;
  @extend %background-color--primary ;
  @extend %font-size--base;  

	@include transition ( height $time-animation $mode-animation );

	font-size: $base-font;
	
	> [class^="mdfi_"], 
	> [class*=" mdfi_"] {
		@extend %position--absolute;
		@extend %display--flex;
		@extend %align-items--center;
		@extend %justify-content--center;
		top:  em(4, 24);//em(4, 24);
		color: $color-white;
		&:first-of-type {
			left: em(4, 24);
			right: ($base-font-icon - 0.5) * 0.166666667  ;//em(4, 24);
		}
		&:nth-last-of-type(1) {
			@extend %left--auto;
			right: em(4, 24)  ;//em(4, 24);
		}
		&:nth-last-of-type(2) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 2.333333333 ;//em(56, 24);
		}

		&:nth-last-of-type(3) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 4.5 ;//em(108, 24);
		}

		&:nth-last-of-type(4) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 6.666666667 ;//em(160, 24);
		}

		&:nth-last-of-type(5) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 8.833333333 ;//em(212, 24);
		}

	}

	&.hide {
		display: none;
	}

}

.appbar,
.toolbar,
.appbar--default, 
.toolbar--default {
	@extend %toolbar;
	height: em(56) ; //56dp; 
}

.appbar--extend,
.toolbar--extend {
	@extend %toolbar;
	height: em(128); //em(128);

	.appbar__title,
	.toolbar__title {
		font-size: 24px;
		//text-transform: capitalize;
		font-weight: 400;
		////margin-left: em(72, 24);
		padding-bottom: 1em; 
		align-self: flex-end;
	}

}

.toolbar--2rows {
	@extend %toolbar;
	height: em(56*2) ; 
	.action--in-appbar {
		left: auto;
		@include calc('right', ' 8.333335% - #{em(20)}' );
	}
}

.toolbar--3rows {
	@extend %toolbar;
	height: em(56*3) ; 
	
		
}

.toolbar--4rows {
	@extend %toolbar;
	height: em(56*4) ; 
}



	.appbar__title,
	.toolbar__title { 
		color: white; //Bug
		//@extend %color--white ; 
		@extend %text-overflow--ellipsis; 
		@extend %overflow--hidden;
		@extend %font-size--base;  
		@extend %line-height--1; 
		//@extend %text-transform--uppercase; 
		//margin-left: em(72) ;//em(72); 
		
	}

@media screen and ( min-width: $media-md ) {
	
	@mixin icon-on-appbar(){ 
	  > [class^="mdfi_"], 
		> [class*=" mdfi_"] {
			top: em(8, 24);
			&:first-of-type {
				left: em(8, 24);
			}
			&:nth-last-of-type(1) {
				right: em(8, 24)  ;
			}
			
		}
	}

	.appbar,
	.appbar--default,
	.toolbar,
	.toolbar--default {
		height: em(64);
		@include icon-on-appbar;
		
	}

	.appbar--extend,
	.toolbar--extend {
		height: em(144);
		@include icon-on-appbar;
		.appbar__title,
		.toolbar__title {
			font-size: 26.6666px;
			//margin-left: em(104, 26.6666);
		}
	}
	
	.appbar__title,
	.toolbar__title {
		//margin-left: em(80);
	}

	@for $i from 1 through 5 {

		.toolbar--#{$i}rows{
			@include icon-on-appbar;
			height: em( 64* $i ) ; 

			.appbar__title,
			.toolbar__title {
				align-self: flex-start;
				top: em(24);
				position: relative;
			}

		}


	}

	.toolbar--2rows {; 
		.action--in-appbar {
			@include calc('right', ' 8.333335% - #{em(28)}' );
		}
	}

	
}
