%toolbar {
  @extend %display--flex;
  @extend %align-items--center ;

  @extend %position--relative;
  @extend %zDepth-1;
  @extend %background-color--primary ;

	@include transition ( height $time-animation $mode-animation );

	font-size: $base-font;
	
	> [class^="mdfi_"], 
	> [class*=" mdfi_"] {
		@extend %position--absolute;
		@extend %display--flex;
		@extend %align-items--center;
		@extend %justify-content--center;
		top:  ($base-font-icon - 0.5) * 0.166666667 ;//em(4, 24);
		width: ($base-font-icon - 0.5) * 2 ;//em(48, 24);
		height: ($base-font-icon - 0.5) * 2 ;//em(48, 24);
		font-size: $base-font-icon;
		color: $color-white;
		&:first-of-type {
			left: 0;
			right: ($base-font-icon - 0.5) * 0.166666667  ;//em(4, 24);
		}
		&:nth-last-of-type(1) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 0.166666667  ;//em(4, 24);
		}
		&:nth-last-of-type(2) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 2.333333333 ;//em(56, 24);
		}

		&:nth-last-of-type(3) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 4.5 ;//em(108, 24);
		}

		&:nth-last-of-type(4) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 6.666666667 ;//em(160, 24);
		}

		&:nth-last-of-type(5) {
			@extend %left--auto;
			right: ($base-font-icon - 0.5) * 8.833333333 ;//em(212, 24);
		}

	}

	&.hide {
		display: none;
	}

}

.appbar,
.toolbar {
	@extend %toolbar;
	height: $base-font * 3.5 ; //56dp; 

	&.extend {
		@extend %toolbar--extend;
	}
}
	.appbar__title,
	.toolbar__title { 
		color: white; //Bug
		//@extend %color--white ; 
		@extend %text-overflow--ellipsis; 
		@extend %overflow--hidden;
		@extend %font-size--base;  
		//@extend %pointer-events--none; 
		@extend %line-height--1; 
		@extend %text-transform--uppercase; 

		//@include calc("width","100% - #{ em(72) + em(48*2+4*3) } ");
		//@include transition ( all $time-animation $mode-animation );

		margin-left: $base-font * 4.5 ;//em(72); 
		
	}

%toolbar--extend {
	height: $base-font * 8; //em(128);

	.appbar__title,
	.toolbar__title {
		//@include transform( translateY( em(82,20) ) ); 
		font-size: $base-font * 1.25;
		margin-left: $base-font * 4.5; //72
		color: $color-white;
		margin-bottom: $base-font * 1.625;
		align-self: flex-end;
	}
}

.appbar--extend,
.toolbar--extend {
	@extend %toolbar;
	@extend %toolbar--extend;
}

@media screen and ( min-width: $media-md ) {
	
	.appbar,
	.toolbar {
		font-size: $base-font * 1.142857143;

	}
	
}
