%action{
	display: block;
  
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  
  background-color: $color-secondary ;
  @include zDepth($z_depth:2);
  //opacity: 0;
  @include transform( scale(0) );
  @include transition (transform $time-animation $mode-animation);
  
  icon,
  .icon { 
  	position: relative; 
  	width: 100%; 
    width: em(40px);
    height: em(40px);
    padding: em(8px);
    left: 0;
    top: 0;
		line {
			fill: $color-white;
			stroke: $color-white;
		}
	}
  .show {
    @extend %animation-scaleIn;
  }
  .hide {
    @extend %animation-scaleOut;
  }
}


.action--embed { 
  @extend %action;
  @include transform( scale(1) );
  position: absolute;
  bottom: -em(20px);
  left: em(16px);

  padding: em(8px);
  width : em(40px);
  height: em(40px) ; 
}

.action--float {
  @extend %action;
  @include transform( scale(1) );
  position: fixed;
  bottom: em(16px);
  right: em(16px);
  z-index: 2;

  padding: em(16px);
  width :  em(56px);
  height:  em(56px) ; 
}