.sidenav { 
	position: fixed;
	z-index: 2;
	overflow-x:hidden;
	//min-width: 264px;
	@include calc( "width", " 100% - 56px " );
	max-width:400px;
	//@include calc( "left", "  -1 * ( 100% - 56px ) " );
	@include fix_sidenav_width();
	top:0;
	height:100%;
	background:$bg-sidenav;
	@include transition ( transform $time-animation $mode-animation-enter-leave-canvas );
	&.enter {
  	@include transform( translateX(0) );
  	@include zDepth($z_depth:5);
  }
}
.sidenav__head {
	background: url("../sample/images/cover.jpg") no-repeat ;
	background-size: cover;
	position: relative;
	padding:0 16px;
}
.sidenav__head__logo {
	display:block;
	position: relative;
	top: 16px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.sidenav__head__title {
	position: absolute;
	bottom:0;
	left:0;
	padding-left:16px;
	height:48px;
	width:100%;
	font-size:16px;
	line-height:3;
	@include text-wrapper()
} 
.sidenav__body {
}
.sidenav__body__links {
	@include clearfix;
	display: block;
	width:100%; 
	height:48px; 
	padding:0 16px;
	a {
		float: left;
		@include calc( "width", " 100% - 24px " ) ;
		padding-left: 32px;
		line-height:3 ;
		@include text-wrapper();
	}
	svg {
		float: left;
		position: relative;
		width : 24px;
		height: 24px; 
		top: 12px; 
		path {
			fill: $color-icon;
		}
	}
}
.sidenav__body__plus-links{
	@include clearfix;
	display: block;
	border-top:1px solid $color-divider;
	padding:0 16px;
	a {
		float: left;
		@include calc( "width", " 100% - 24px " ) ; 
		line-height:3 ;
	}
}
//<!--desktop-->
@media only screen and ( min-width: 320px ) {
	.sidenav { min-width: 264px; width: 20%; }
}
@media only screen and ( min-width: 1024px ) {
  //.sidenav { width: 20%; }
}
