%action{
  @extend %display--block;
  @extend %zDepth-2;
  @extend %border-radius--50percent;  
  @extend %z-index--1 ;
  @extend %bg--secondary  ;

  @include transition (all $time-animation $mode-animation);

  icon,
  .icon { 
    @extend %position--absolute;
    @extend %top--0;
    @extend %left--0; 
    @extend %width--100percent;
    width: em(40px);
    height: em(40px);
    padding: em(8px);  
    line {
      fill: $color-white;
      stroke: $color-white;
    }
  }
  &.show {
    @extend %animation-scaleIn;
  }
  &.hide {
    @extend %animation-scaleOut;
  }
}
.action {
  @extend %display--none;
}
/***directive***/ 
.action--embed { 
  @extend %action;
  @include transform( scale(1) );
  @extend %position--absolute;
  @extend %left--base;

  bottom: -1* em(20px);
  padding: em(8px);
  width : em(40px);
  height: em(40px) ; 
}

.action--float {
  @extend %action;
  @extend %position--fixed;
  @extend %z-index--2;
  @extend %top--base;
  @extend %right--base;
  @extend %padding--base;
  
  @include transform( scale(1) );
  width :  em(56px);
  height:  em(56px) ; 
}