%bottom-sheet {
	
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: $color-white;

  &.show {
    display: block;
	}

  &.hide {
    display: none;
	}

}

.bottom-sheet--list {
	@extend %bottom-sheet;
	padding: em(8) em(16);
}

.bottom-sheet--grid {
	@extend %bottom-sheet;
	padding: em(8) em(16);
}

	.bottom-sheet__title {
    height: em(56);
    font-size: em(16);
    color: rgba( $color-black, .54);
    display: flex;
    align-items: center;

  }

  .bottom-sheet__list {
  	padding: em(7) 0;
  	border-bottom: em(1) solid $color-divider;
		&:first-of-type {
			padding: 0 0 em(7) 0;
		}

		&:last-of-type {
			border-bottom: 0;
		}
  }


  .bottom-sheet__item {
    height: em(48);
    display: flex;
    color: rgba( $color-black, .87);
    align-items: center;
  }

  	.bottom-sheet__item__icon {
  		font-size: em(24);
  		width: em(56, 24);
  		text-align: left;
  	}

  	.bottom-sheet__item__title {
  		@include calc('width', 100% - #{em(56)} );
  		font-weight: 300;
  	}
