.canvas {
	//@extend %position--relative;
	//@extend %display--flex;
}



/*
@media screen and (min-width: $media-lg) {

	$base-font: 18.2857px;

	body {
		font-size: $base-font;
	}

	main { 
		width: 768px;
		margin: 0 auto;
		top: -1 * em( 64 *2 );
		background-color: $color-white;
		border-radius: em(4);
		@include zDepth($z_depth:2);
		overflow: hidden;
	}
	
	.toolbar--default {  
		height: em( 64 *3);
	}
	
	[class*="card"] {
		@include zDepth($z_depth:0);
		border-radius: 0;
	}
}
*/