%card {
	@extend %zDepth-1;
	@extend %border-radius-card ; 
	//padding :em(16px);
	h2 {
		font-size: em(17); 
	}
	em { @extend %color-primary; }

	dl { margin-bottom:em(16); }
	dt {
		font-weight: 400;
		text-transform: capitalize;
	}
	dd { font-size: em(14); }

}
%card--person{
	@extend %card; 
	padding :0 em(16px);
	figure{
		@extend %clearfix;
		img {
			@extend %display-block;
			@extend %position-relative;
			left: -1 * em(16);
			width: 30%;
		}
		figcaption {
			width: 70%;
		}
		img,
		figcaption {
			@extend %float-left;
		}
	}
}
%card__title{
	font-size:em(24px);
}

.card--default { 
	@extend %card;
	margin  : em(8px);
}
.card--full { 
	@extend %card;
}
.card--person { 
	@extend %card--person;
	margin  : em(8px); 
}
.card__title { 
	@extend %card__title;
}