[class*="col-sm"] {
	@extend %float--left;
}
.col-sm-10 { @extend %width--10percent; }
.col-sm-20 { @extend %width--20percent; }
.col-sm-30 { @extend %width--30percent; }
.col-sm-40 { @extend %width--40percent; }
.col-sm-50 { @extend %width--50percent; }
.col-sm-60 { @extend %width--60percent; }
.col-sm-70 { @extend %width--70percent; }
.col-sm-80 { @extend %width--80percent; }
.col-sm-90 { @extend %width--90percent; } 
.col-sm-100{ @extend %width--10percent; }

@media screen and ( min-width: 1024px ){
	.clearfix-lg { @include clearfix; }
	[class*="col-lg"] {
		float: left;
	}
	.col-lg-10 { width: 10% ; }
	.col-lg-20 { width: 20% ; }
	.col-lg-30 { width: 30% ; }
	.col-lg-40 { width: 40% ; }
	.col-lg-50 { width: 50% ; }
	.col-lg-60 { width: 60% ; }
	.col-lg-70 { width: 70% ; }
	.col-lg-80 { width: 80% ; }
	.col-lg-90 { width: 90% ; } 
	.col-lg-100{ width: 100% ; }
}