/****** List *****/
//list
%list{
  font-size:em(16px); 
  padding: em(8) 0;
  //@extend %zDepth-1; 
}
  // list--single-line
  %list--single-line { 
    @extend %list;   
    a {
      @extend %display--block;
      @extend %line-height--1;
      @extend %color--secondary;
      @extend %overflow--hidden;
      @extend %text-overflow--ellipsis ;
      height: em(48);
      padding: em(16); 
    }
  }
  
  // list--figure
  %list--figure {
    @extend %list;  
  }
  


.list--single-line {
  @extend %list--single-line;
}

.list--figure {
  @extend %list--figure;
}
  .list__item {
      @extend %clearfix;
      height: em(56);
      
  } 
  .list__item__img,
  .list__item__icon { //wrapper image
    padding: em(8px) em(16px);
    width: em(72px);
    height: em(56px);
    @extend %float--left;
    img,
    svg {
      @extend %display--block;
      @extend %border-radius--50percent;
      width: em(40px);
      height: em(40px); 
    }
  } 
  .list__item__icon svg {
    padding: em(8); 
    background-color: $color-primary;  
  }

  .list__item__head { //list__item__head
    @extend %clearfix;
    @extend %line-height--3;
    @extend %font-size--base;
    @include calc('width',"100% - " + em(72px) );
    height: inherit;
    padding:0 em(16px) 0 0;
    float: left; 
    position: relative; 
    //border-bottom:em(1) solid $color-divider-low;
  }
  .list__item__head__text  {//list__item__head__text
    height: inherit;
    line-height: 3.5;
    @extend %clearfix;
    @extend %float--left; 
    @extend %text-overflow--ellipsis ;
    @extend %overflow--hidden ;
    @include calc('width',"100% - " + em(40px) );  
    @extend %display--none;
    padding-right: em(16);
    &:first-child {
      @extend %display--block;
    }
  }

.list--social {
  @extend %text-align--center;
  .list__item__icon{
    @extend %float--none;
    display: inline-block;
    padding: em(8);
    width: em(56);
  }
}