.modal {
	@extend %border-radius--card ;
	@extend %zDepth-4 ;
	display: none;
	flex-direction: column;

	background-color: white;
	width: 80%;
	position: fixed;
	z-index: 4;
	left: 10%;
	top: 20%;
	&.show {
		display: flex;
	}
}

.modal__title {
	font-size: 20px;
	font-weight: 400;
	padding: em(24, 20);
}
.modal__content {
	text-align: justify;
	padding: 0 em(24) em(16) em(24);
}

.modal__controls { // same picker controls
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: em(48);
}
	.modal__controls__option {
		color: $color-primary;
		font-weight: 400;
		padding: 0 1em;
		height: em(36);
		display: flex;
		align-items: center;
		margin-right: em(8);
	}

@media screen and (min-width: 800px) {
	.modal {
		width: 600px;
		@include calc('left','50% - 300px ');
	}
}