.overlay {
	@extend %position--fixed;
	@extend %top--0;
	background:$bg-overlay ;  
	width:100%;
	height:100%;
	@extend %pointer-events--none;
	opacity:0;
	//@include animation( fadeOut $time-animation $mode-animation forwards);
	&.show{ 
		@extend %pointer-events--auto;
		@extend %animation-overlayIn;
	}
	&.hide{ 
		@extend %pointer-events--none;
		@extend %animation-overlayOut;
	}
}