%ripple {  
	@extend %position-absolute ;
	@extend %display-block ;
	@extend %border-radius-full-50percent ;
	background: rgba(0,0,0,.25);  
	@include transform( scale(0) ); 
} 

.ripple--radial{
	@extend %ripple;
	width:em(48);
	height:em(48);
	top: 0;
	left: 0;
	&.show{
		@include animation( rippleRadial 0.5s ease );
	}
	
}

@include keyframes( rippleRadial ) { 
	100% {
		opacity: 0;  
		@include transform( scale(1) );
	}
}