%ripple {  
	@extend %position--absolute ;
	@extend %display--block ;
	@extend %border-radius--50percent ;

	background: rgba(0,0,0,.25);  
	@include transform( scale(0) ); 
} 

.ripple--radial{
	@extend %ripple;
	width:em(48);
	height:em(48);
	@extend %top--0;
	@extend %left--0;
	&.show{
		@include animation( rippleRadial 0.5s ease );
	}
	
}

@include keyframes( rippleRadial ) { 
	100% {
		opacity: 0;  
		@include transform( scale(1) );
	}
}