%sidenav {
	@extend %position-fixed;
	@extend %position-top-0; 
	background-color: $bg-sidenav;
}
%sidenav--left { 
	@extend %sidenav; 
	@include calc( "width", " 100% - 56px " );
	height:100%;
	//max-width:em(400);
	//@extend %animation-hideSidenavLeft; /** problem firefox os */
	@include fix_sidenav_width; 
	z-index: 1;
	&.show{ 
		@extend %animation-showSidenavLeft;
	}
	&.hide{ 
		@extend %animation-hideSidenavLeft;
	}
}
%sidenav--left__head{ 
	@extend %position-relative ;
	background-image: url("../sample/images/cover.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	padding:0 em(16px); 
}
%sidenav--left__head__logo{
	display:block;
	position: relative;
	top: em(16px);
	width: em(64px);
	height: em(64px);
	padding: em(4);
	background-color: $color-white ; 
	@extend %border-radius-full-50percent;
	@extend %animation-scaleIn;
} 
.sidenav--left{
	@extend %sidenav--left;
	figure{
		@extend %sidenav--left__head;
		img {
			@extend %sidenav--left__head__logo;
		}
		figcaption {
			@extend %position-absolute ;
			@extend %position-bottom-0 ;
			@extend %position-left-0 ;
			@extend %width-100percent;
			@extend %line-height-3 ;  
			@extend %overflow-x;
			padding: 0 em(16);
			height:em(48); 
			@extend %text-ellipsis;
			a {
				@extend %color-white; 
			}
		}
	}
	section {
		@extend %zDepth-0; 
	}
}
@media only screen and ( max-width: 256px ) {
 .sidenav--left figure img{
 		//display: none ;
 		pointer-events: none;
 		@include animation( scaleOut $time-animation $mode-animation forwards );
 	}
}
@media only screen and ( min-width: 320px ) {
	.sidenav--left { min-width: 264px; width: 20%; }
}