%toolbar {
	@extend %display--block;
	@extend %position--relative;
	@extend %zDepth-1;
	@extend %bg--primary ;

	@include transition ( height $time-animation $mode-animation );
	> icon { 
		@extend %position--absolute;
		top:em(4); 
		&:nth-last-of-type(1){
			@extend %left--auto	;
			right: em(4);
		}
		&:nth-last-of-type(2){
			@extend %left--auto	;
			right: em(56);
		}
		&:nth-last-of-type(3){
			@extend %left--auto	;
			right: em(108);
		}
		&:nth-last-of-type(4){
			@extend %left--auto	;
			right: em(160);
		}
		&:nth-last-of-type(5){
			@extend %left--auto	;
			right: em(212);
		}//+52
		&:first-of-type {
			left:em(4);
			@extend %right--auto	;
		}
	}
	
	&.static {
		@extend %position--fixed;
		@extend %top--0	 ;
		@extend %width--100percent	 ; 
	}
	form {
		@extend %width--100percent;
		@extend %position--absolute;
		@extend %padding--base;
		input{
			@extend %width--100percent;
			@extend %color--white;
			@extend %bg--transparent;
			@extend %box-sizing--border-box;
			padding-left: em(56);
			border-bottom: em(1px) solid white;

			&::-webkit-input-placeholder {
		  	@extend %color--white;
				@extend %animation-fadeIn; 
		  }
			&:-moz-placeholder {
				@extend %color--white;
				@extend %animation-fadeIn; 
			}
		}
	}
}

%toolbar__title {
	@extend %position--relative;
	@extend %line-height--1;
	@extend %color--white;
	@extend %text-transform--uppercase;

	@include transition ( all $time-animation $mode-animation );
}

.toolbar--default {
	@extend %toolbar;
	height: em(56); 

	h1{ 
		@extend %toolbar__title ;
		@extend %text-overflow--ellipsis ; 
		@extend %overflow--hidden;
		@extend %font-size--base ;  
		@extend %pointer-events--none ;    

		@include transform( translateY( em(20) ) );
		@include calc("width","100% - #{ em(72) + em(48*2+4*3) } ");
		
		margin-left: em(72); 
	}
}

.toolbar--extend {
	@extend %toolbar;
	height: em(128);
	h1 {
		@extend %toolbar__title; 
		@include transform( translateY( em(82,20) ) ); 
		font-size: em(20);
		margin-left: em(72,20);
	}
}

