.countdown,
.countdown--knob {
	@extend %clearfix;
}
.countdown--knob__item {
	@extend %float--left;
	width:25%;
	@extend %text-align--center;
	em, span {
		@extend %display--block;
		@extend %color--secondary;
		@extend %font-weight--400;

	}
	em {
		@extend %display--none;
		@extend %card__title;
	}
	span {
		@extend %overflow--hidden;
		@extend %text-overflow--ellipsis;
		font-size: 14px;
	}
	input {
		left: 0;
	}
	> div {
		@extend %position--relative;
	}
}