	<div class="list">
		<div class="list__fields">
			<a class="list__fields__action"  ui-sref=".new" > <span class="fa fa-plus"></span> </a> 
			<div class="list__fields__box">  
				<h3 class="list__fields__box__field" ng-repeat="(key,value) in auxC.fields">  {{key}} </h3>
			</div>
		</div>
	  <article class="list__item slide-down" ng-repeat="item in app.model">
	    <div class="list__item__img">
	      <img src='app/assets/images/menber.jpg'  class='grid__photo' alt='Photo menber'/>
	    </div>
	    <div class="list__item__head">
	      <div class="list__item__head__text">
	        <h3 class="list__item__head__text__primary-Text">
	          {{ item.alias }}
	        </h3>
	      </div>
	      <a class="list__item__head__secondary-action" ng-click=" deleteItem($index) " > 
	        <span class="fa fa-times-circle"></span> 
	      </a>
	    </div>
	  </article>
	</div>