
		<article data-card="figure">
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>

			<div class="card__content" id="foo">
				<h3 class="card__title">Title</h3>
				<a href="#" class="card__sub-title"> sub title</a>
				
				<div data-action="embed" data-container="foo" data-x="right" data-y="top">
					<span class="mdfi_communication_message"></span>
				</div>

			</div>
		</article>

<article data-card>
	
	<div class="card__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel similique sint voluptates vero sunt. Doloremque velit animi odit totam voluptas nemo eum et praesentium repellat, molestiae, modi facilis in cumque!</p>
		
		<!--
		<div data-action="embed" data-container="appbar">
			<span class="mdfi_communication_message"></span>
		</div>
		-->
		<div data-action>
			<span class="mdfi_communication_message"></span>
		</div>
		
		

	</div>
	
</article>
