
		<article data-card>
				 
			<h3 class="card__title">Title</h3>
			<div class="card__content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis rem eaque reprehenderit corrupti ipsa eveniet non ut quisquam officiis mollitia pariatur dolore eius iusto, praesentium voluptates expedita alias, consectetur adipisci.</p> 
			</div>

		</article>
		
		<div data-card="avatar">
			<div class="card__photo">
				<img src="assets/images/plane.jpg" alt="" class="card__photo__image" />
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<h4 class="card__sub-title">Sub title</h4>
				<a href="#" class="card__link">Link</a>
			</div>
		</div>

		<article data-card='icon'>

			<div class="card__icon">
				<span class="mdfi_image_timer"></span>
			</div>

			<div class="card__content">
				<h3 class="card__title"> Title </h3>
				<h4 class="card__subtitle"> 800 </h4>
			</div>

		</article>

		<article data-card="figure">
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<a href="#" class="card__sub-title"> sub title</a>
				<img class="card__logo" src="assets/images/logo-yetsu.jpg" alt="">
			</div>
		</article>

		<article data-card='figures' data-columns="3">
			<h3 class="card__title"> Figures </h3>

			<div class="card__content">
				<img src="assets/images/plane.jpg" alt="Title" />
				<img src="assets/images/plane.jpg" alt="Title" />
				<img src="assets/images/plane.jpg" alt="Title" />
			</div>
			
		</article>

		<article data-card="frame">
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>
			<div class="card__content">
				<h3 class="card__title"> Name </h3>
				<span class="mdfi_communication_message"></span>
			</div>
		</article>
