
		<article data-card>
				 
			<h3 class="card__title">Cards</h3>
			<div class="card__content">
				<p> Show your content, some examples below. </p>
			</div>

		</article>

		<article data-card>
			<div class="card__header" >
				<img src="assets/images/logo-yetsu.jpg" alt="" class="card__header__image" />
				<div class="card__header__content" >
					<h3 class="card__header__content__title">Title</h3>
					<h4 class="card__header__content__subtitle"> subtitle </h4>
				</div>
			</div>
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
				<h3 class="card__title"> Cover's name </h3>
			</div>
			<div class="card__content">
				<p class="card__resume">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
			</div>
			<div class="card__controls">
				<div class="card__controls__actions">
					<a href="#">
						<span class="mdfi_notification_event_note"></span>
					</a>
					<a href="#">
						<span class="mdfi_communication_chat"></span>
					</a>
					<a href="#">
						<span class="mdfi_social_share"></span>
					</a>
				</div>

				<div class="card__controls__options">
					<a class="card__controls__options__option" href="#"> Cancel </a>
					<a class="card__controls__options__option" href="#"> Ver detalles </a>
				</div>

			</div>

		</article>

		<article data-card>
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
				<h3 class="card__title"> Cover's name </h3>
			</div>

            <div class="card__content--inline">
                <h3 class="card__title"> Name </h3>
                <span class="mdfi_communication_message"></span>
            </div>


		</article>


		<article data-card="avatar">
			<div class="card__photo">
				<img src="assets/images/plane.jpg" alt="" class="card__photo__image" />
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<h4 class="card__sub-title">Sub title</h4>
				<a href="#" class="card__link">Link</a>
			</div>
		</article>

		<article data-card='icon'>

			<div class="card__icon">
				<span class="mdfi_image_timer"></span>
			</div>

			<div class="card__content">
				<h3 class="card__title"> Title </h3>
				<h4 class="card__subtitle"> 800 </h4>
			</div>

		</article>

		<article data-card>
			<div class="card__cover">
				<img src="assets/images/plane.jpg" alt="" class="card__cover__image"/>
			</div>
			<div class="card__content">
				<h3 class="card__title">Title</h3>
				<a href="#" class="card__sub-title"> sub title</a>
				<img class="card__logo" src="assets/images/logo-yetsu.jpg" alt="">
			</div>
		</article>

		<article data-card='figures' data-columns="3">
			<h3 class="card__title"> Figures </h3>

			<div class="card__content">
				<img src="assets/images/plane.jpg" alt="Title" />
				<img src="assets/images/plane.jpg" alt="Title" />
				<img src="assets/images/plane.jpg" alt="Title" />
			</div>
			
		</article>

