		

		<section class='list--figure-multiline'> 
			<h2 class="list__title">List Multiple</h2>
			<nav class="list__header">
				<a class="list__header__name"> Field 1 </a> 
				<a class="list__header__name"> Field 2 </a> 
				<a class="list__header__name"> Field 3 </a> 
			</nav>
						
			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title 1</h3>
					<h3 class="list__item__content__title">Title 2</h3>
					<h3 class="list__item__content__title">Title 3</h3>
				</div>
			</article>  
			
		</section> 
		
	

		<section class='list--figure'> 
			<h2 class="list__title">List Figure</h2>
			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
					<h4 class="list__item__content__sub-title">Sub title</h4>
				</div>
			</article>  
			
			<article class="list__item" >
				<img src="assets/images/menber.jpg" alt="" class="list__item__img" />
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
					<h4 class="list__item__content__sub-title">Sub title</h4>
				</div>
			</article>  
			
		</section> 

		<section class='list--icon'> 
			<h2 class="list__title">List Icon</h2>
			<article class="list__item" ng-click="openBottomSheet()">

				<span class="list__item__icon mdfi_navigation_menu"></span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>  

			<article class="list__item" ng-click="openBottomSheet()">

				<span class="list__item__icon mdfi_navigation_menu"></span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>  
			
		</section>

		<section class='list--letter'> 
			<h2 class="list__title">List Letter</h2>
			<article class="list__item" >

				<span class="list__item__letter">Y</span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>

			<article class="list__item" >

				<span class="list__item__letter">E</span>
		
				<div class="list__item__content" >
					<h3 class="list__item__content__title">Title</h3>
				</div>
			</article>
			
		</section> 
		